<%
var locale = env.locale;
var baseURL = '/' + locale + '/docs/Mozilla/Add-ons/';

var text = mdn.localStringMap({
  'de': {
    'WebExtensions': 'Browser-Erweiterungen',
    'Themes': 'Themen',
    'Community_and_Support': 'Community und Support',
    'Channels': 'Kanäle',
    'Blog': 'Add-ons Blog',
    'Forums': 'Add-ons Foren',
    '#Contact_us': 'Kontaktieren Sie uns'
  },
  'en-US': {
    'WebExtensions': 'Browser extensions',
    'Themes': 'Themes',
    'Community_and_Support': 'Community and Support',
    'Channels': 'Channels',
    'Blog': 'Add-ons blog',
    'Forums': 'Add-on forums',
    '#Contact_us': 'Contact us'
  },
  'fr': {
    'WebExtensions': 'WebExtensions',
    'Themes': 'Thèmes',
    'Community_and_Support': 'Communauté et Support',
    'Channels': 'Canaux de discussions',
    'Blog': 'Blog extensions',
    'Forums': 'Forum extensions',
    '#Contact_us': 'Nous contacter'
  },
  'ja': {
    'WebExtensions': 'ブラウザー拡張機能',
    'Themes': 'テーマ',
    'Community_and_Support': 'コミュニティとサポート',
    'Channels': 'チャンネル',
    'Blog': 'ブログ',
    'Forums': 'フォーラム',
    '#Contact_us': 'コンタクト'
  },
  'ko': {
    'WebExtensions': '브라우저 확장 기능',
   'Themes': '테마',
    'Community_and_Support': '커뮤니티와 지원',
    'Channels': '채널',
    'Blog': '부가 기능 블로그',
    'Forums': '부가 기능 포럼',
    '#Contact_us': '연락하기'
  },
  'zh-CN': {
    'WebExtensions': '浏览器扩展程序',
    'Themes': '主题',
    'Community_and_Support': '社区和支持',
    'Channels': '渠道',
    'Blog': '附加组件博客',
    'Forums': '附加组件论坛',
    'Contact_us': '联系我们'
  },
  'es': {
    'WebExtensions': 'Extensiones de navegador',
    'Themes': 'Temas',
    'Community_and_Support': 'Comunidad y soporte',
    'Channels': 'Canales de discusión',
    'Blog': 'Blog de complementos',
    'Forums': 'Foro de complementos',
    '#Contact_us': 'Contáctenos'
  }
});

%>

<section id="Quick_links" data-macro="AddonSidebarMain">
  <ol>
    <li class="section"><%-web.smartLink(`${baseURL}WebExtensions`, null, text['WebExtensions'])%></li>
    <li class="section"><a href="https://extensionworkshop.com/documentation/themes/"><%=text['Themes']%></a></li>
    <li class="section"><a href="https://discourse.mozilla.org/c/add-ons"><%=text['Community_and_Support']%></a></li>
    <li class="toggle">
      <details>
        <summary><%=text['Channels']%></summary>
        <ol>
          <li><a href="https://blog.mozilla.org/addons"><%=text['Blog']%></a></li>
          <li><a href="https://discourse.mozilla.org/c/add-ons"><%=text['Forums']%></a></li>
          <li><a href="https://stackoverflow.com/questions/tagged/firefox-addon">Stack Overflow</a></li>
          <li><%-web.smartLink(`${baseURL}#contact_us`, null, text['#Contact_us'])%></li>
        </ol>
      </details>
    </li>
  </ol>
</section>
