<%

const text = mdn.localStringMap({
  'en-US': {
    'Learn_CSS': 'Learn CSS',
    'CSS_first_steps': 'CSS first steps',
       'CSS_first_steps_overview': 'CSS first steps overview',
       'What_is_CSS':  'What is CSS?',
       'Getting_started_with_CSS': 'Getting started with CSS',
       'How_CSS_is_structured': 'How CSS is structured',
       'How_CSS_works': 'How CSS works',
       'Using_your_new_knowledge': 'Using your new knowledge',
     'CSS_building_blocks': 'CSS building blocks',
       'CSS_building_blocks_overview': 'CSS building blocks overview',
       'Cascade_and_inheritance': 'Cascade and inheritance',
       'CSS_selectors': 'CSS selectors',
       'The_box_model': 'The box model',
       'Backgrounds_and_borders': 'Backgrounds and borders',
       'Handling_different_text_directions': 'Handling different text directions',
       'Overflowing_content': 'Overflowing content',
       'Values_and_units': 'Values and units',
       'Sizing_items_in_CSS': 'Sizing items in CSS',
       'Images_media_and_form_elements': 'Images, media, and form elements',
       'Styling_tables': 'Styling tables',
       'Debugging_CSS': 'Debugging CSS',
       'Organizing_your_CSS': 'Organizing your CSS',
     'Styling_text': 'Styling text',
       'Styling_text_overview': 'Styling text overview',
       'Fundamental_text_and_font_styling': 'Fundamental text and font styling',
       'Styling_lists': 'Styling lists',
       'Styling_links': 'Styling links',
       'Web_fonts': 'Web fonts',
       'Assessment_typesetting_a_community_school_homepage': 'Assessment: Typesetting a community school homepage',
     'CSS_layout': 'CSS layout',
       'CSS_layout_overview': 'CSS layout overview',
       'Layout_introduction' : 'Introduction to CSS layout',
       'Normal_Flow' : 'Normal Flow',
       'Flexbox': 'Flexbox',
       'Grids' : 'Grids',
       'Floats': 'Floats',
       'Positioning': 'Positioning',
       'Multiple-column_Layout': 'Multiple-column Layout',
       'Responsive_design': 'Responsive design',
       'Media_queries': 'Beginner\'s guide to media queries',
       'Legacy_Layout_Methods': 'Legacy Layout Methods',
       'Supporting_Older_Browsers': 'Supporting Older Browsers',
       'Fundamental_Layout_Comprehension' : 'Fundamental Layout Comprehension',
    'Color_picker_tool': 'Color picker',
    'Box-shadow_generator': 'Box shadow generator',
    'Border-image_generator' : 'Border image generator',
  },
  'de': {
    'Learn_CSS': 'Learn CSS',
      'CSS_first_steps': 'CSS first steps',
        'CSS_first_steps_overview': 'CSS first steps overview',
        'What_is_CSS':  'What is CSS?',
        'Getting_started_with_CSS': 'Getting started with CSS',
        'How_CSS_is_structured': 'How CSS is structured',
        'How_CSS_works': 'How CSS works',
        'Using_your_new_knowledge': 'Using your new knowledge',
      'CSS_building_blocks': 'CSS building blocks',
        'CSS_building_blocks_overview': 'CSS building blocks overview',
        'Cascade_and_inheritance': 'Cascade and inheritance',
        'CSS_selectors': 'CSS selectors',
        'The_box_model': 'The box model',
        'Backgrounds_and_borders': 'Backgrounds and borders',
        'Handling_different_text_directions': 'Handling different text directions',
        'Overflowing_content': 'Overflowing content',
        'Values_and_units': 'Values and units',
        'Sizing_items_in_CSS': 'Sizing items in CSS',
        'Images_media_and_form_elements': 'Images, media, and form elements',
        'Styling_tables': 'Styling tables',
        'Debugging_CSS': 'Debugging CSS',
        'Organizing_your_CSS': 'Organizing your CSS',
      'Styling_text': 'Gestaltung von Text',
        'Styling_text_overview': 'Gestaltung von Text — Übersicht',
        'Fundamental_text_and_font_styling': 'Texte gestalten',
        'Styling_lists': 'Listen gestalten',
        'Styling_links': 'Links gestalten',
        'Web_fonts': 'Web-Schriftarten',
        'Assessment_typesetting_a_community_school_homepage': 'Aufgabe: Webseite für eine Schule',
      'CSS_layout': 'Layout mit CSS',
        'CSS_layout_overview': 'Layout mit CSS — Überblick',
        'Normal_Flow' : 'Normal Flow',
        'Flexbox': 'Flexboxen',
        'Grids' : 'Grid',
        'Floats': 'Float',
        'Positioning': 'Positionierung',
        'Multiple-column_Layout': 'Multiple-column Layout',
        'Responsive_design': 'Responsive design',
        'Media_queries': 'Beginner\'s guide to media queries',
        'Legacy_Layout_Methods': 'Legacy Layout Methods',
        'Supporting_Older_Browsers': 'Supporting Older Browsers',
        'Fundamental_Layout_Comprehension': 'Fundamental Layout Comprehension',
  },
  'pt-BR': {
    'Learn_CSS': 'Learn CSS',
      'CSS_first_steps': 'CSS - primeiros passos',
        'CSS_first_steps_overview': 'Visão geral das primeiras etapas com CSS',
        'What_is_CSS':  'O que é CSS?',
        'Getting_started_with_CSS': 'Iniciando com CSS',
        'How_CSS_is_structured': 'como CSS é estruturado',
        'How_CSS_works': 'Como CSS funciona',
        'Using_your_new_knowledge': 'Usando seu novo Conhecimento',
      'CSS_building_blocks': 'CSS building blocks',
        'CSS_building_blocks_overview': 'CSS building blocks overview',
        'Cascade_and_inheritance': 'Cascade and inheritance',
        'CSS_selectors': 'seletores CSS',
        'The_box_model': 'The box model',
        'Backgrounds_and_borders': 'Backgrounds and borders',
        'Handling_different_text_directions': 'Tratamento de diferentes direções de texto',
        'Overflowing_content': 'Overflowing content',
        'Values_and_units': 'Valores e unidades',
        'Sizing_items_in_CSS': 'Dimensionando itens em CSS',
        'Images_media_and_form_elements': 'Images, media, and form elements',
        'Styling_tables': 'Estilização de tabelas',
        'Debugging_CSS': 'Debugging CSS',
        'Organizing_your_CSS': 'Organize seu CSS',
      'Styling_text': 'Estilização de textos',
        'Styling_text_overview': 'Visão geral da Estilização de textos',
        'Fundamental_text_and_font_styling': 'Fundamentos da estilização de textos e fontes',
        'Styling_lists': 'Estilização de listas',
        'Styling_links': 'Estilização de links',
        'Web_fonts': 'Fontes Web',
        'Assessment_typesetting_a_community_school_homepage': 'Avaliação: Tipografia para a página inicial da escola pública local',
      'CSS_layout': 'Esquemas CSS',
        'CSS_layout_overview': 'Visão geral de esquemas CSS',
        'Layout_introduction' : 'Introdução a esquemas CSS',
        'Normal_Flow': 'Normal Flow',
        'Flexbox': 'Flexbox',
        'Grids' : 'Grids',
        'Floats': '"Floats" - Flutuando elementos',
        'Positioning': 'Posicionamento',
        'Multiple-column_Layout': 'Multiple-column Layout',
        'Responsive_design': 'Responsive design',
        'Media_queries': 'Beginner\'s guide to media queries',
        'Legacy_Layout_Methods': 'Legacy Layout Methods',
        'Supporting_Older_Browsers': 'Supporting Older Browsers',
        'Fundamental_Layout_Comprehension': 'Fundamental Layout Comprehension',
  },
  'ru': {
    'Learn_CSS': 'Learn CSS',
      'CSS_first_steps': 'CSS first steps',
        'CSS_first_steps_overview': 'CSS first steps overview',
        'What_is_CSS':  'What is CSS?',
        'Getting_started_with_CSS': 'Getting started with CSS',
        'How_CSS_is_structured': 'How CSS is structured',
        'How_CSS_works': 'How CSS works',
        'Using_your_new_knowledge': 'Using your new knowledge',
      'CSS_building_blocks': 'CSS building blocks',
        'CSS_building_blocks_overview': 'CSS building blocks overview',
        'Cascade_and_inheritance': 'Cascade and inheritance',
        'CSS_selectors': 'CSS selectors',
        'The_box_model': 'The box model',
        'Backgrounds_and_borders': 'Backgrounds and borders',
        'Handling_different_text_directions': 'Handling different text directions',
        'Overflowing_content': 'Overflowing content',
        'Values_and_units': 'Values and units',
        'Sizing_items_in_CSS': 'Sizing items in CSS',
        'Images_media_and_form_elements': 'Images, media, and form elements',
        'Styling_tables': 'Styling tables',
        'Debugging_CSS': 'Debugging CSS',
        'Organizing_your_CSS': 'Organizing your CSS',
      'Styling_text': 'Стилизирование текста',
        'Styling_text_overview': 'Стилизирование текста',
        'Fundamental_text_and_font_styling': 'Основы стилизирования текста и шрифта',
        'Styling_lists': 'Стилизирование списков',
        'Styling_links': 'Стилизирование ссылок',
        'Web_fonts': 'Веб-шрифты',
        'Assessment_typesetting_a_community_school_homepage': 'Задание: Стилизирование школьного сайта',
      'CSS_layout': 'CSS макет',
        'CSS_layout_overview': 'CSS макет',
        'Normal_Flow': 'Normal Flow',
        'Flexbox': 'Flexbox',
        'Grids' : 'Сетки',
        'Floats': 'Float',
        'Positioning': 'Позиционирование',
        'Multiple-column_Layout': 'Multiple-column Layout',
        'Responsive_design': 'Responsive design',
        'Media_queries': 'Beginner\'s guide to media queries',
        'Legacy_Layout_Methods': 'Legacy Layout Methods',
        'Supporting_Older_Browsers': 'Supporting Older Browsers',
        'Fundamental_Layout_Comprehension': 'Fundamental Layout Comprehension',
  },
  'zh-CN': {
    'Learn_CSS': 'Learn CSS',
      'CSS_first_steps': 'CSS first steps',
        'CSS_first_steps_overview': 'CSS first steps overview',
        'What_is_CSS':  'What is CSS?',
        'Getting_started_with_CSS': 'Getting started with CSS',
        'How_CSS_is_structured': 'How CSS is structured',
        'How_CSS_works': 'How CSS works',
        'Using_your_new_knowledge': 'Using your new knowledge',
      'CSS_building_blocks': 'CSS building blocks',
        'CSS_building_blocks_overview': 'CSS building blocks overview',
        'Cascade_and_inheritance': 'Cascade and inheritance',
        'CSS_selectors': 'CSS selectors',
        'The_box_model': 'The box model',
        'Backgrounds_and_borders': 'Backgrounds and borders',
        'Handling_different_text_directions': 'Handling different text directions',
        'Overflowing_content': 'Overflowing content',
        'Values_and_units': 'Values and units',
        'Sizing_items_in_CSS': 'Sizing items in CSS',
        'Images_media_and_form_elements': 'Images, media, and form elements',
        'Styling_tables': 'Styling tables',
        'Debugging_CSS': 'Debugging CSS',
        'Organizing_your_CSS': 'Organizing your CSS',
      'Styling_text': '样式化文字',
        'Styling_text_overview': '样式化文字概述',
        'Fundamental_text_and_font_styling': '基础文字与字体样式化',
        'Styling_lists': '样式化列表',
        'Styling_links': '样式化链接',
        'Web_fonts': 'Web 字体',
        'Assessment_typesetting_a_community_school_homepage': '作业：排版社区大学首页',
      'CSS_layout': 'CSS 排版概述',
        'CSS_layout_overview': 'CSS 版面配置概述',
        'Normal_Flow': 'Normal Flow',
        'Flexbox': '弹性区块',
        'Grids' : '网格',
        'Floats': '浮动',
        'Positioning': '定位',
        'Multiple-column_Layout': 'Multiple-column Layout',
        'Responsive_design': 'Responsive design',
        'Media_queries': 'Beginner\'s guide to media queries',
        'Legacy_Layout_Methods': 'Legacy Layout Methods',
        'Supporting_Older_Browsers': 'Supporting Older Browsers',
        'Fundamental_Layout_Comprehension': 'Fundamental Layout Comprehension',
  },
  'zh-TW': {
    'Learn_CSS': 'Learn CSS',
      'CSS_first_steps': 'CSS first steps',
        'CSS_first_steps_overview': 'CSS first steps overview',
        'What_is_CSS':  'What is CSS?',
        'Getting_started_with_CSS': 'Getting started with CSS',
        'How_CSS_is_structured': 'How CSS is structured',
        'How_CSS_works': 'How CSS works',
        'Using_your_new_knowledge': 'Using your new knowledge',
      'CSS_building_blocks': 'CSS building blocks',
        'CSS_building_blocks_overview': 'CSS building blocks overview',
        'Cascade_and_inheritance': 'Cascade and inheritance',
        'CSS_selectors': 'CSS selectors',
        'The_box_model': 'The box model',
        'Backgrounds_and_borders': 'Backgrounds and borders',
        'Handling_different_text_directions': 'Handling different text directions',
        'Overflowing_content': 'Overflowing content',
        'Values_and_units': 'Values and units',
        'Sizing_items_in_CSS': 'Sizing items in CSS',
        'Images_media_and_form_elements': 'Images, media, and form elements',
        'Styling_tables': 'Styling tables',
        'Debugging_CSS': 'Debugging CSS',
        'Organizing_your_CSS': 'Organizing your CSS',
      'Styling_text': '樣式化文字',
        'Styling_text_overview': '樣式化文字概述',
        'Fundamental_text_and_font_styling': '基礎的文字與字型樣式化',
        'Styling_lists': '樣式化列表',
        'Styling_links': '樣式化連結',
        'Web_fonts': 'Web 字型',
        'Assessment_typesetting_a_community_school_homepage': '親合度：設定社區大學首頁的版面',
      'CSS_layout': 'CSS 版面配置',
        'CSS_layout_overview': 'CSS 版面配置概述',
        'Normal_Flow': 'Normal Flow',
        'Flexbox': '彈性區塊',
        'Grids' : '格線',
        'Floats': '浮動',
        'Positioning': '定位',
        'Multiple-column_Layout': 'Multiple-column Layout',
        'Responsive_design': 'Responsive design',
        'Media_queries': 'Beginner\'s guide to media queries',
        'Legacy_Layout_Methods': 'Legacy Layout Methods',
        'Supporting_Older_Browsers': 'Supporting Older Browsers',
        'Fundamental_Layout_Comprehension': 'Fundamental Layout Comprehension',
  },
  'ja': {
    'Learn_CSS': 'Learn CSS',
      'CSS_first_steps': 'CSS first steps',
        'CSS_first_steps_overview': 'CSS first steps overview',
        'What_is_CSS':  'What is CSS?',
        'Getting_started_with_CSS': 'Getting started with CSS',
        'How_CSS_is_structured': 'How CSS is structured',
        'How_CSS_works': 'How CSS works',
        'Using_your_new_knowledge': 'Using your new knowledge',
      'CSS_building_blocks': 'CSS building blocks',
        'CSS_building_blocks_overview': 'CSS building blocks overview',
        'Cascade_and_inheritance': 'Cascade and inheritance',
        'CSS_selectors': 'CSS selectors',
        'The_box_model': 'The box model',
        'Backgrounds_and_borders': 'Backgrounds and borders',
        'Handling_different_text_directions': 'Handling different text directions',
        'Overflowing_content': 'Overflowing content',
        'Values_and_units': 'Values and units',
        'Sizing_items_in_CSS': 'Sizing items in CSS',
        'Images_media_and_form_elements': 'Images, media, and form elements',
        'Styling_tables': 'Styling tables',
        'Debugging_CSS': 'Debugging CSS',
        'Organizing_your_CSS': 'Organizing your CSS',
      'Styling_text': 'Styling text',
        'Styling_text_overview': 'Styling text overview',
        'Fundamental_text_and_font_styling': 'Fundamental text and font styling',
        'Styling_lists': 'Styling lists',
        'Styling_links': 'Styling links',
        'Web_fonts': 'Web fonts',
        'Assessment_typesetting_a_community_school_homepage': 'Assessment: Typesetting a community school homepage',
      'CSS_layout': 'CSS layout',
        'CSS_layout_overview': 'CSS layout overview',
        'Layout_introduction' : 'Introduction to CSS layout',
        'Normal_Flow' : 'Normal Flow',
        'Flexbox': 'Flexbox',
        'Grids' : 'Grids',
        'Floats': 'Floats',
        'Positioning': 'Positioning',
        'Multiple-column_Layout': 'Multiple-column Layout',
        'Responsive_design': 'Responsive design',
        'Media_queries': 'Beginner\'s guide to media queries',
        'Legacy_Layout_Methods': 'Legacy Layout Methods',
        'Supporting_Older_Browsers': 'Supporting Older Browsers',
        'Fundamental_Layout_Comprehension': 'Fundamental Layout Comprehension',
  }
});


const locale = env.locale;
const slug = env.slug;
const learnURL = "/" + locale + "/docs/Learn/";

const htmlEscape = kuma.htmlEscape;
const hasTag = page.hasTag;
const rtlLocales = ['ar', 'he', 'fa'];

const pageList = await page.subpagesExpand('/en-US/docs/Web/CSS');
const standardPages = pageList.filter(page => !hasTag(page, "Non-standard"));

const groups = standardPages.filter(page => hasTag(page, "Overview"));
const properties = standardPages.filter(page => hasTag(page, "CSS Property"));
const selectors = standardPages.filter(page => hasTag(page, "Selector"));
const atRules = standardPages.filter(page => hasTag(page, "At-rule"));
const types = standardPages.filter(page => hasTag(page, "CSS Data Type"));

const badges = {
  ExperimentalBadge : await template("ExperimentalBadge"),
  NonStandardBadge : await template("NonStandardBadge"),
  DeprecatedBadge : await template("DeprecatedBadge"),
}

function buildSublist(pages, title) {
  let result = `<li class="toggle"><details><summary>${title}</summary><ol>`;

  for (const page of pages) {
    const url = page.url.replace('en-US', locale);
    const title = htmlEscape(page.title);

    const translated = false;
    if (locale != 'en-US') {
        page.translations.forEach(function(translation){
            if (translation.locale === locale) {
                url = translation.url;
                title = htmlEscape(translation.title);
                translated = true;
            }
        });
    }

    const cta = '';
     if (!translated && locale != 'en-US') {
        cta += ' <a href="'+ url +'$translate" style="opacity:0.5" title="'+ text['title'] + '">' + text['translate'] + '</a>';
    }

    result += '<li>';

    if (hasTag(page, 'Experimental')) {
        result += badges.ExperimentalBadge;
    }

    if (hasTag(page, 'Deprecated')) {
        result += badges.DeprecatedBadge;
    }

    if (rtlLocales.indexOf(locale) != -1) {
        result += '<bdi>';
    }

    result += '<a href="' + url + '">' + title + '</a>' + cta;

    if (rtlLocales.indexOf(locale) != -1) {
        result += '</bdi>';
    }

    result += '</li>';
  }

  result += '</ol></details></li>';

  return result;
}

%>

<section class="Quick_links" id="Quick_Links">

<ol>
  <li><strong><%=text['Learn_CSS']%></strong></li>
  <li class="toggle">
      <details>
          <summary><%=text['CSS_first_steps']%></summary>
          <ol>
            <li><a href="<%=learnURL%>CSS/First_steps"><%=text['CSS_first_steps_overview']%></a></li>
            <li><a href="<%=learnURL%>CSS/First_steps/What_is_CSS"><%=text['What_is_CSS']%></a></li>
            <li><a href="<%=learnURL%>CSS/First_steps/Getting_started"><%=text['Getting_started_with_CSS']%></a></li>
            <li><a href="<%=learnURL%>CSS/First_steps/How_CSS_is_structured"><%=text['How_CSS_is_structured']%></a></li>
            <li><a href="<%=learnURL%>CSS/First_steps/How_CSS_works"><%=text['How_CSS_works']%></a></li>
            <li><a href="<%=learnURL%>CSS/First_steps/Using_your_new_knowledge"><%=text['Using_your_new_knowledge']%></a></li>
          </ol>
      </details>
  </li>
  <li class="toggle">
      <details>
          <summary><%=text['CSS_building_blocks']%></summary>
          <ol>
            <li><a href="<%=learnURL%>CSS/Building_blocks"><%=text['CSS_building_blocks_overview']%></a></li>
            <li><a href="<%=learnURL%>CSS/Building_blocks/Cascade_and_inheritance"><%=text['Cascade_and_inheritance']%></a></li>
            <li><a href="<%=learnURL%>CSS/Building_blocks/Selectors"><%=text['CSS_selectors']%></a></li>
            <li><a href="<%=learnURL%>CSS/Building_blocks/The_box_model"><%=text['The_box_model']%></a></li>
            <li><a href="<%=learnURL%>CSS/Building_blocks/Backgrounds_and_borders"><%=text['Backgrounds_and_borders']%></a></li>
            <li><a href="<%=learnURL%>CSS/Building_blocks/Handling_different_text_directions"><%=text['Handling_different_text_directions']%></a></li>
            <li><a href="<%=learnURL%>CSS/Building_blocks/Overflowing_content"><%=text['Overflowing_content']%></a></li>
            <li><a href="<%=learnURL%>CSS/Building_blocks/Values_and_units"><%=text['Values_and_units']%></a></li>
            <li><a href="<%=learnURL%>CSS/Building_blocks/Sizing_items_in_CSS"><%=text['Sizing_items_in_CSS']%></a></li>
            <li><a href="<%=learnURL%>CSS/Building_blocks/Images_media_form_elements"><%=text['Images_media_and_form_elements']%></a></li>
            <li><a href="<%=learnURL%>CSS/Building_blocks/Styling_tables"><%=text['Styling_tables']%></a></li>
            <li><a href="<%=learnURL%>CSS/Building_blocks/Debugging_CSS"><%=text['Debugging_CSS']%></a></li>
            <li><a href="<%=learnURL%>CSS/Building_blocks/Organizing"><%=text['Organizing_your_CSS']%></a></li>
      </details>
  </li>
  <li class="toggle">
      <details>
          <summary><%=text['Styling_text']%></summary>
          <ol>
            <li><a href="<%=learnURL%>CSS/Styling_text"><%=text['Styling_text_overview']%></a></li>
            <li><a href="<%=learnURL%>CSS/Styling_text/Fundamentals"><%=text['Fundamental_text_and_font_styling']%></a></li>
            <li><a href="<%=learnURL%>CSS/Styling_text/Styling_lists"><%=text['Styling_lists']%></a></li>
            <li><a href="<%=learnURL%>CSS/Styling_text/Styling_links"><%=text['Styling_links']%></a></li>
            <li><a href="<%=learnURL%>CSS/Styling_text/Web_fonts"><%=text['Web_fonts']%></a></li>
            <li><a href="<%=learnURL%>CSS/Styling_text/Typesetting_a_homepage"><%=text['Assessment_typesetting_a_community_school_homepage']%></a></li>
          </ol>
      </details>
  </li>
  <li class="toggle">
      <details>
          <summary><%=text['CSS_layout']%></summary>
          <ol>
            <li><a href="<%=learnURL%>CSS/CSS_layout"><%=text['CSS_layout_overview']%></a></li>
            <li><a href="<%=learnURL%>CSS/CSS_layout/Introduction"><%=text['Layout_introduction']%></a></li>
            <li><a href="<%=learnURL%>CSS/CSS_layout/Normal_Flow"><%=text['Normal_Flow']%></a></li>
            <li><a href="<%=learnURL%>CSS/CSS_layout/Flexbox"><%=text['Flexbox']%></a></li>
            <li><a href="<%=learnURL%>CSS/CSS_layout/Grids"><%=text['Grids']%></a></li>
            <li><a href="<%=learnURL%>CSS/CSS_layout/Floats"><%=text['Floats']%></a></li>
            <li><a href="<%=learnURL%>CSS/CSS_layout/Positioning"><%=text['Positioning']%></a></li>
            <li><a href="<%=learnURL%>CSS/CSS_layout/Multiple-column_Layout"><%=text['Multiple-column_Layout']%></a></li>
            <li><a href="<%=learnURL%>CSS/CSS_layout/Responsive_Design"><%=text['Responsive_design']%></a></li>
            <li><a href="<%=learnURL%>CSS/CSS_layout/Media_queries"><%=text['Media_queries']%></a></li>
            <li><a href="<%=learnURL%>CSS/CSS_layout/Legacy_Layout_Methods"><%=text['Legacy_Layout_Methods']%></a></li>
            <li><a href="<%=learnURL%>CSS/CSS_layout/Supporting_Older_Browsers"><%=text['Supporting_Older_Browsers']%></a></li>
            <li><a href="<%=learnURL%>CSS/CSS_layout/Fundamental_Layout_Comprehension"><%=text['Fundamental_Layout_Comprehension']%></a></li>
          </ol>
      </details>
  </li>

  <li><strong>Reference</strong></li>
  <%-buildSublist(groups, 'Modules');%>
  <%-buildSublist(properties, 'Properties');%>
  <%-buildSublist(selectors, 'Selectors');%>
  <%-buildSublist(atRules, 'At-rules');%>
  <%-buildSublist(types, 'Types');%>

  <li><strong>Guides</strong></li>
  <li class="toggle">
      <details>
          <summary>Animations</summary>
          <ol>
            <li><a href="/en-US/docs/Web/CSS/CSS_Animations/Using_CSS_animations">Using CSS animations</a></li>
          </ol>
      </details>
  </li>
  <li class="toggle">
      <details>
          <summary>Backgrounds and Borders</summary>
          <ol>
            <li><a href="/en-US/docs/Web/CSS/CSS_Backgrounds_and_Borders/Using_multiple_backgrounds">Using multiple backgrounds</a></li>
            <li><a href="/en-US/docs/Web/CSS/CSS_Backgrounds_and_Borders/Resizing_background_images">Resizing background images</a></li>
          </ol>
      </details>
  </li>
  <li class="toggle">
      <details>
          <summary>Box alignment</summary>
          <ol>
            <li><a href="/en-US/docs/Web/CSS/CSS_Box_Alignment/Box_Alignment_In_Block_Abspos_Tables">Box alignment in block layout</a></li>
            <li><a href="/en-US/docs/Web/CSS/CSS_Box_Alignment/Box_Alignment_in_Flexbox">Box alignment in flexbox</a></li>
            <li><a href="/en-US/docs/Web/CSS/CSS_Box_Alignment/Box_Alignment_In_Grid_Layout">Box alignment in grid layout</a></li>
            <li><a href="/en-US/docs/Web/CSS/CSS_Box_Alignment/Box_Alignment_in_Multi-column_Layout">Box alignment in multi-column layout</a></li>
          </ol>
      </details>
  </li>
  <li class="toggle">
      <details>
          <summary>Box model</summary>
          <ol>
            <li><a href="/en-US/docs/Web/CSS/CSS_Box_Model/Introduction_to_the_CSS_box_model">Introduction to the CSS basic box model</a></li>
            <li><a href="/en-US/docs/Web/CSS/CSS_Box_Model/CSS_Box_Model">Mastering margin collapsing</a></li>
          </ol>
      </details>
  </li>
  <li class="toggle">
      <details>
          <summary>Columns</summary>
          <ol>
            <li><a href="/en-US/docs/Web/CSS/CSS_Columns/Basic_Concepts_of_Multicol">Basic concepts of Multicol</a></li>
            <li><a href="/en-US/docs/Web/CSS/CSS_Columns/Styling_Columns">Styling columns</a></li>
            <li><a href="/en-US/docs/Web/CSS/CSS_Columns/Spanning_Columns">Spanning and balancing</a></li>
            <li><a href="/en-US/docs/Web/CSS/CSS_Columns/Handling_Overflow_in_Multicol">Handling overflow in Multicol</a></li>
            <li><a href="/en-US/docs/Web/CSS/CSS_Columns/Handling_content_breaks_in_multicol">Content breaks in Multicol</a></li>
          </ol>
      </details>
  </li>
  <li class="toggle">
      <details>
          <summary>Conditional rules</summary>
          <ol>
            <li><a href="/en-US/docs/Web/CSS/CSS_Conditional_Rules/Using_Feature_Queries">Using feature queries</a></li>
          </ol>
      </details>
  </li>
  <li class="toggle">
      <details>
          <summary>CSSOM view</summary>
          <ol>
            <li><a href="/en-US/docs/Web/CSS/CSSOM_View/Coordinate_systems">Coordinate systems</a></li>
          </ol>
      </details>
  </li>
  <li class="toggle">
      <details>
          <summary>Flexbox</summary>
          <ol>
            <li><a href="/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Basic_Concepts_of_Flexbox">Basic concepts of Flexbox</a></li>
            <li><a href="/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Relationship_of_Flexbox_to_Other_Layout_Methods">Comparison with other layout methods</a></li>
            <li><a href="/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Aligning_Items_in_a_Flex_Container">Aligning items in a flex container</a></li>
            <li><a href="/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Ordering_Flex_Items">Ordering flex items</a></li>
            <li><a href="/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Controlling_Ratios_of_Flex_Items_Along_the_Main_Ax">Controlling flex item ratios</a></li>
            <li><a href="/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Mastering_Wrapping_of_Flex_Items">Mastering wrapping of flex items</a></li>
            <li><a href="/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Typical_Use_Cases_of_Flexbox">Typical use cases of Flexbox</a></li>
            <li><a href="/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Backwards_Compatibility_of_Flexbox">Backwards compatibility of Flexbox</a></li>
          </ol>
      </details>
  </li>
  <li class="toggle">
      <details>
          <summary>Flow layout</summary>
          <ol>
            <li><a href="/en-US/docs/Web/CSS/CSS_Flow_Layout/Block_and_Inline_Layout_in_Normal_Flow">Block and Inline layout in normal flow</a></li>
            <li><a href="/en-US/docs/Web/CSS/CSS_Flow_Layout/In_Flow_and_Out_of_Flow">In flow and Out of flow</a></li>
            <li><a href="/en-US/docs/Web/CSS/CSS_Flow_Layout/Formatting_Contexts_Explained">Formatting contexts explained</a></li>
            <li><a href="/en-US/docs/Web/CSS/CSS_Flow_Layout/Flow_Layout_and_Writing_Modes">Flow layout and writing modes</a></li>
            <li><a href="/en-US/docs/Web/CSS/CSS_Flow_Layout/Flow_Layout_and_Overflow">Flow layout and overflow</a></li>          </ol>
      </details>
  </li>
  <li class="toggle">
      <details>
          <summary>Fonts</summary>
          <ol>
            <li><a href="/en-US/docs/Web/CSS/CSS_Fonts/OpenType_fonts_guide">OpenType font features guide</a></li>
            <li><a href="/en-US/docs/Web/CSS/CSS_Fonts/Variable_Fonts_Guide">Variable fonts guide</a></li>
          </ol>
      </details>
  </li>
  <li class="toggle">
      <details>
          <summary>Grid</summary>
          <ol>
            <li><a href="/en-US/docs/Web/CSS/CSS_Grid_Layout/Basic_Concepts_of_Grid_Layout">Basics concepts of grid layout</a></li>
            <li><a href="/en-US/docs/Web/CSS/CSS_Grid_Layout/Relationship_of_Grid_Layout">Relationship to other layout methods</a></li>
            <li><a href="/en-US/docs/Web/CSS/CSS_Grid_Layout/Line-based_Placement_with_CSS_Grid">Line-based placement</a></li>
            <li><a href="/en-US/docs/Web/CSS/CSS_Grid_Layout/Grid_Template_Areas">Grid template areas</a></li>
            <li><a href="/en-US/docs/Web/CSS/CSS_Grid_Layout/Layout_using_Named_Grid_Lines">Layout using named grid lines</a></li>
            <li><a href="/en-US/docs/Web/CSS/CSS_Grid_Layout/Auto-placement_in_CSS_Grid_Layout">Auto-placement in grid layout</a></li>
            <li><a href="/en-US/docs/Web/CSS/CSS_Grid_Layout/Box_Alignment_in_CSS_Grid_Layout">Box alignment in grid layout</a></li>
            <li><a href="/en-US/docs/Web/CSS/CSS_Grid_Layout/CSS_Grid,_Logical_Values_and_Writing_Modes">Grids, logical values and writing modes</a></li>
            <li><a href="/en-US/docs/Web/CSS/CSS_Grid_Layout/CSS_Grid_Layout_and_Accessibility">Grid layout and accessibility</a></li>
            <li><a href="/en-US/docs/Web/CSS/CSS_Grid_Layout/CSS_Grid_and_Progressive_Enhancement">Grid Layout and progressive enhancement</a></li>
            <li><a href="/en-US/docs/Web/CSS/CSS_Grid_Layout/Realizing_common_layouts_using_CSS_Grid_Layout">Realizing common layouts using grids</a></li>
            <li><a href="/en-US/docs/Web/CSS/CSS_Grid_Layout/Subgrid">Subgrid</a></li>
            <li><a href="/en-US/docs/Web/CSS/CSS_Grid_Layout/Masonry_Layout">Masonry layout</a></li>
         </ol>
      </details>
  </li>
  <li class="toggle">
      <details>
          <summary>Images</summary>
          <ol>
            <li><a href="/en-US/docs/Web/CSS/CSS_Images/Using_CSS_gradients">Using CSS gradients</a></li>
          </ol>
      </details>
  </li>
  <li class="toggle">
      <details>
          <summary>Lists and counters</summary>
          <ol>
            <li><a href="/en-US/docs/Web/CSS/CSS_Lists_and_Counters/Using_CSS_counters">Using CSS counters</a></li>
            <li><a href="/en-US/docs/Web/CSS/CSS_Lists_and_Counters/Consistent_list_indentation">Consistent list indentation</a></li>
          </ol>
      </details>
  </li>
  <li class="toggle">
      <details>
          <summary>Logical properties</summary>
          <ol>
            <li><a href="/en-US/docs/Web/CSS/CSS_Logical_Properties/Basic_concepts">Basic concepts</a></li>
            <li><a href="/en-US/docs/Web/CSS/CSS_Logical_Properties/Floating_and_positioning">Floating and positioning</a></li>
            <li><a href="/en-US/docs/Web/CSS/CSS_Logical_Properties/Margins_borders_padding">Margins, borders and padding</a></li>
            <li><a href="/en-US/docs/Web/CSS/CSS_Logical_Properties/Sizing">Sizing</a></li>
          </ol>
      </details>
  </li>
  <li class="toggle">
      <details>
          <summary>Media queries</summary>
          <ol>
            <li><a href="/en-US/docs/Web/CSS/Media_Queries/Using_media_queries">Using media queries</a></li>
            <li><a href="/en-US/docs/Web/CSS/Media_Queries/Using_Media_Queries_for_Accessibility">Using media queries for accessibility</a></li>
            <li><a href="/en-US/docs/Web/CSS/Media_Queries/Testing_media_queries">Testing media queries programmatically</a></li>
          </ol>
      </details>
  </li>
  <li class="toggle">
      <details>
          <summary>Positioning</summary>
          <ol>
            <li><a href="/en-US/docs/Web/CSS/CSS_Positioning/Understanding_z_index">Understanding CSS z-index</a></li>
          </ol>
      </details>
  </li>
  <li class="toggle">
      <details>
          <summary>Scroll snap</summary>
          <ol>
            <li><a href="/en-US/docs/Web/CSS/CSS_Scroll_Snap/Basic_concepts">Basic concepts of scroll snap</a></li>
            <li><a href="/en-US/docs/Web/CSS/CSS_Scroll_Snap/Browser_compat">Browser compatibility and scroll snap</a></li>
          </ol>
      </details>
  </li>
  <li class="toggle">
      <details>
          <summary>Shapes</summary>
          <ol>
            <li><a href="/en-US/docs/Web/CSS/CSS_Shapes/Overview_of_CSS_Shapes">Overview of shapes</a></li>
            <li><a href="/en-US/docs/Web/CSS/CSS_Shapes/Shapes_From_Box_Values">Shapes from box values</a></li>
            <li><a href="/en-US/docs/Web/CSS/CSS_Shapes/Basic_Shapes">Basic shapes</a></li>
            <li><a href="/en-US/docs/Web/CSS/CSS_Shapes/Shapes_From_Images">Shapes from images</a></li>
          </ol>
      </details>
  </li>
  <li class="toggle">
      <details>
          <summary>Text</summary>
          <ol>
            <li><a href="/en-US/docs/Web/CSS/CSS_Text/Wrapping_Text">Wrapping and breaking text</a></li>
          </ol>
      </details>
  </li>
  <li class="toggle">
      <details>
          <summary>Transforms</summary>
          <ol>
            <li><a href="/en-US/docs/Web/CSS/CSS_Transforms/Using_CSS_transforms">Using transforms</a></li>
          </ol>
      </details>
  </li>
  <li class="toggle">
      <details>
          <summary>Transitions</summary>
          <ol>
            <li><a href="/en-US/docs/Web/CSS/CSS_Transitions/Using_CSS_transitions">Using transitions</a></li>
          </ol>
      </details>
  </li>

  <li><strong>Layout cookbook</strong></li>
  <li class="toggle">
    <ol>
      <li><a href="/en-US/docs/Web/CSS/Layout_cookbook/Media_objects">Media objects</a></li>
      <li><a href="/en-US/docs/Web/CSS/Layout_cookbook/Column_layouts">Columns</a></li>
      <li><a href="/en-US/docs/Web/CSS/Layout_cookbook/Center_an_element">Center an element</a></li>
      <li><a href="/en-US/docs/Web/CSS/Layout_cookbook/Sticky_footers">Sticky footers</a></li>
      <li><a href="/en-US/docs/Web/CSS/Layout_cookbook/Split_Navigation">Split navigation</a></li>
      <li><a href="/en-US/docs/Web/CSS/Layout_cookbook/Breadcrumb_Navigation">Breadcrumb navigation</a></li>
      <li><a href="/en-US/docs/Web/CSS/Layout_cookbook/List_group_with_badges">List group with badges</a></li>
      <li><a href="/en-US/docs/Web/CSS/Layout_cookbook/Pagination">Pagination</a></li>
      <li><a href="/en-US/docs/Web/CSS/Layout_cookbook/Card">Card</a></li>
      <li><a href="/en-US/docs/Web/CSS/Layout_cookbook/Grid_wrapper">Grid wrapper</a></li>
    </ol>
  </li>

  <li><strong>Tools</strong></li>
  <li class="toggle">
    <ol>
      <li><a href="/en-US/docs/Web/CSS/CSS_Colors/Color_picker_tool"><%=text['Color_picker_tool']%></a></li>
      <li><a href="/en-US/docs/Web/CSS/CSS_Background_and_Borders/Box-shadow_generator"><%=text['Box-shadow_generator']%></a></li>
      <li><a href="/en-US/docs/Web/CSS/CSS_Background_and_Borders/Border-image_generator"><%=text['Border-image_generator']%></a></li>
    </ol>
  </li>

</ol>

</section>
