<%

const locale = env.locale;

const baseURL = `/${locale}/docs/Mozilla/`;
const addonsURL = `/${locale}/Add-ons/`;

const text = mdn.localStringMap({
  "en-US": {
    "Firefox_releases": "Firefox releases",
      "Firefox_release_notes_developer": "Firefox release notes for developers",
      "Experimental_features_firefox": "Experimental features in Firefox",
    "Add-ons": "Add-ons",
      "Browser_extensions": "Browser extensions",
      "Themes": "Themes",
    "Firefox_documentation": "Firefox documentation",
  },
  "bn-BD": {
    "Firefox_releases": "Firefox releases",
      "Firefox_release_notes_developer": "Firefox release notes for developers",
      "Experimental_features_firefox": "Experimental features in Firefox",
    "Add-ons": "অ্যাড-অন",
      "Browser_extensions": "Browser extensions",
      "Themes": "থিম",
    "Firefox_documentation": "Firefox documentation",
  },
  "es": {
    "Firefox_releases": "Lanzamientos de Firefox",
      "Firefox_release_notes_developer": "Notas de lanzamiento de Firefox, para desarrolladores",
      "Experimental_features_firefox": "Caracteristicas experimentales en Firefox",
    "Add-ons": "Complementos",
      "Browser_extensions": "Extensiones del navegador",
      "Themes": "Temas",
    "Firefox_documentation": "Documentación de Firefox",
  },
  "fr": {
    "Firefox_releases": "Versions de Firefox",
      "Firefox_release_notes_developer": "Notes de version Firefox pour le développement",
      "Experimental_features_firefox": "Fonctionnalités expérimentales dans Firefox",
    "Add-ons": "Modules complémentaires",
      "Browser_extensions": "WebExtensions",
      "Themes": "Thèmes",
    "Firefox_documentation": "Documentation de Firefox",
  },
  "id": {
    "Firefox_releases": "Firefox releases",
      "Firefox_release_notes_developer": "Firefox release notes for developers",
      "Experimental_features_firefox": "Experimental features in Firefox",
    "Add-ons": "Add-ons",
      "Browser_extensions": "Browser extensions",
      "Themes": "Themes",
    "Firefox_documentation": "Firefox documentation",
  },
  "it": {
    "Firefox_releases": "Firefox releases",
      "Firefox_release_notes_developer": "Firefox release notes for developers",
      "Experimental_features_firefox": "Experimental features in Firefox",
    "Add-ons": "Componenti aggiuntivi",
      "Browser_extensions": "WebExtensions",
      "Themes": "Temi",
    "Firefox_documentation": "Firefox documentation",
  },
  "pl": {
    "Firefox_releases": "Firefox releases",
      "Firefox_release_notes_developer": "Firefox release notes for developers",
      "Experimental_features_firefox": "Experimental features in Firefox",
    "Add-ons": "Dodatki",
      "Browser_extensions": "Browser extensions",
      "Themes": "Motywy",
    "Firefox_documentation": "Firefox documentation",
  },
  "pt-BR": {
    "Firefox_releases": "Firefox releases",
      "Firefox_release_notes_developer": "Firefox release notes for developers",
      "Experimental_features_firefox": "Experimental features in Firefox",
    "Add-ons": "Complementos",
      "Browser_extensions": "WebExtensions",
      "Themes": "Temas",
    "Firefox_documentation": "Firefox documentation",
  },
  "ru": {
    "Firefox_releases": "Выпуски Firefox",
      "Firefox_release_notes_developer": "Примечания к выпускам Firefox для разработчиков",
      "Experimental_features_firefox": "Экспериментальные функции Firefox",
    "Add-ons": "Дополнения",
      "Browser_extensions": "Расширения браузера",
      "Themes": "Темы",
    "Firefox_documentation": "Документация Firefox",
  },
  "zh-CN": {
    "Firefox_releases": "Firefox 发行说明",
      "Firefox_release_notes_developer": "面向开发者的 Firefox 发行说明",
      "Experimental_features_firefox": "Firefox 中的实验性功能",
    "Add-ons": "附加组件",
      "Browser_extensions": "浏览器扩展",
      "Themes": "主题",
    "Firefox_documentation": "Firefox 文档",
  },
  "zh-TW": {
    "Firefox_releases": "Firefox 版本資訊",
      "Firefox_release_notes_developer": "開發者的 Firefox 版本資訊",
      "Experimental_features_firefox": "Firefox 中的實驗性功能",
    "Add-ons": "附加元件",
      "Browser_extensions": "擴充套件",
      "Themes": "佈景主題",
    "Firefox_documentation": "Firefox 文件",
  }
});

%>

<section id="Quick_links">
  <ol>
    <li class="toggle">
        <details>
            <summary><%=text["Firefox_releases"]%></summary>
            <ol>
              <li><a href="<%=baseURL%>Firefox/Releases"><%=text["Firefox_release_notes_developer"]%></a></li>
              <li><a href="<%=baseURL%>Firefox/Experimental_features"><%=text["Experimental_features_firefox"]%></a></li>
            </ol>
        </details>
    </li>
    <li class="toggle">
        <details>
            <summary><%=text["Add-ons"]%></summary>
            <ol>
              <li><a href="<%=addonsURL%>WebExtensions"><%=text["Browser_extensions"]%></a></li>
              <li><a href="<%=addonsURL%>Themes"><%=text["Themes"]%></a></li>
            </ol>
        </details>
    </li>
    <li>
      <a href="https://firefox-source-docs.mozilla.org/"><%=text["Firefox_documentation"]%></a>
    </li>
  </ol>
</section>
