<%
const locale = env.locale;

const text = mdn.localStringMap({
  'en-US': {
    'Reference': 'Reference',
    'Elements': 'Elements',
    'Global attributes': 'Global attributes',
    'Guides': 'Guides',
    'Examples': 'Examples',
  },
  'fr': {
    'Reference': 'Références',
    'Elements': 'Éléments',
    'Guides': 'Guides',
  },
  'ja': {
    'Reference': 'リファレンス',
    'Elements': '要素',
  },
  'ko': {
    'Reference': '참고서:',
    'Elements': '요소',
    'Guides': '안내서:',
  },
  'pt-BR': {
    'Reference': 'Referências',
    'Elements': 'Elementos',
    'Guides': 'Guides',
  },
  'ru': {
    'Reference': 'Справочники',
    'Elements': 'Элементы',
    'Guides': 'Путеводитель',
  },
  'zh-CN': {
    'Reference': '参考：',
    'Elements': '元素',
    'Guides': '指南：',
  },
});

const sidebarURL = `/docs/Web/MathML/`;
const baseURL = `/${env.locale}${sidebarURL}`;

async function getTitle(pageSlug) {
  let page = await wiki.getPage(`${baseURL}${pageSlug}`);
  if (!page.title) {
    page = await wiki.getPage(`/en-US${sidebarURL}${pageSlug}`);
  }
  return mdn.htmlEscape(page.title);
}

%>
<section id="Quick_links" data-macro="MathMLRef">
 <ol>
  <li><a href="/<%=locale%>/docs/Web/MathML"><strong>MathML</strong></a></li>
  <li><strong><%=text['Guides']%></strong></li>
  <li>
    <ol>
    <li><a href="/<%=locale%>/docs/Web/MathML/Authoring"><%=await getTitle("Authoring")%></a></li>
    <li><a href="/<%=locale%>/docs/Web/MathML/Fonts"><%=await getTitle("Fonts")%></a></li>
    <li><a href="/<%=locale%>/docs/Web/MathML/Values"><%=await getTitle("Values")%></a></li>
    </ol>
  </li>
  <li><strong><%=text['Reference']%></strong></li>
  <li class="toggle">
    <details>
      <summary><%=text['Elements']%></summary>
      <%-await template("ListSubpagesForSidebar", ['/en-US/docs/Web/MathML/Element'])%>
    </details>
  </li>
  <li class="toggle">
    <details>
      <summary><%=text['Global attributes']%></summary>
      <%-await template("ListSubpagesForSidebar", ['/en-US/docs/Web/MathML/Global_attributes'])%>
    </details>
  </li>
  <li><a href="/<%=locale%>/docs/Web/MathML/Attribute"><%=await getTitle("Attribute")%></a></li>
  <li><strong><%=text['Examples']%></strong></li>
  <li>
    <ol>
    <li><a href="/<%=locale%>/docs/Web/MathML/Examples/Deriving_the_Quadratic_Formula"><%=await getTitle("Examples/Deriving_the_Quadratic_Formula")%></a></li>
    <li><a href="/<%=locale%>/docs/Web/MathML/Examples/MathML_Pythagorean_Theorem"><%=await getTitle("Examples/MathML_Pythagorean_Theorem")%></a></li>
    </ol>
  </li>
 </ol>
</section>
