<%

const locale = env.locale;

const baseURL = `/${locale}/docs/MDN/`;

const text = mdn.localStringMap({
  "en-US": {
    "MDN_project": "The MDN Web Docs Project",
    "Community_guide": "Community guidelines",
      "Comm_overview": "Overview",
      "Contributing": "Contributing to MDN",
      "Open_source": "Open source etiquette",
      "Communication": "Communication channels",
      "Discuss": "Discussions",
      "Learn": "Learn forum",
      "Issues": "Issue guidelines",
      "PRs": "Pull request guidelines",
      "Content": "Content repository guidelines",
      "Users": "Roles and teams",
    "Writing_guide": "Writing guidelines",
      "Write_overview": "Overview",
      "What_write": "What we write",
      "Style_guide": "Writing style guide",
      "Howto": "How-to guides",
      "Structures": "Page structures",
      "Attrib": "Attribution and copyright",
      "Exper": "Experimental, deprecated and obsolete",
  },
  "es": {
    "MDN_project": "The MDN Web Docs Project",
    "Community_guide": "Community guidelines",
      "Comm_overview": "Overview",
      "Contributing": "Contributing to MDN",
      "Open_source": "Open source etiquette",
      "Communication": "Communication channels",
      "Discuss": "Discussions",
      "Learn": "Learn forum",
      "Issues": "Issue guidelines",
      "PRs": "Pull request guidelines",
      "Content": "Content repository guidelines",
      "Users": "Roles and teams",
    "Writing_guide": "Writing guidelines",
      "Write_overview": "Overview",
      "What_write": "What we write",
      "Style_guide": "Writing style guide",
      "Howto": "How-to guides",
      "Structures": "Page structures",
      "Attrib": "Attribution and copyright",
      "Exper": "Experimental, deprecated and obsolete",
  },
  "fr": {
    "MDN_project": "The MDN Web Docs Project",
    "Community_guide": "Règles de la communauté",
      "Comm_overview": "Overview",
      "Contributing": "Contributing to MDN",
      "Open_source": "Open source etiquette",
      "Communication": "Communication channels",
      "Discuss": "Discussions",
      "Learn": "Learn forum",
      "Issues": "Issue guidelines",
      "PRs": "Pull request guidelines",
      "Content": "Content repository guidelines",
      "Users": "Roles and teams",
    "Writing_guide": "Writing guidelines",
      "Write_overview": "Overview",
      "What_write": "What we write",
      "Style_guide": "Writing style guide",
      "Howto": "How-to guides",
      "Structures": "Page structures",
      "Attrib": "Attribution and copyright",
      "Exper": "Experimental, deprecated and obsolete",
  },
  "ja": {
    "MDN_project": "The MDN Web Docs Project",
    "Community_guide": "Community guidelines",
      "Comm_overview": "Overview",
      "Contributing": "Contributing to MDN",
      "Open_source": "Open source etiquette",
      "Communication": "Communication channels",
      "Discuss": "Discussions",
      "Learn": "Learn forum",
      "Issues": "Issue guidelines",
      "PRs": "Pull request guidelines",
      "Content": "Content repository guidelines",
      "Users": "Roles and teams",
    "Writing_guide": "Writing guidelines",
      "Write_overview": "Overview",
      "What_write": "What we write",
      "Style_guide": "Writing style guide",
      "Howto": "How-to guides",
      "Structures": "Page structures",
      "Attrib": "Attribution and copyright",
      "Exper": "Experimental, deprecated and obsolete",
  },
  "ko": {
    "MDN_project": "MDN 웹 문서 프로젝트",
    "Community_guide": "커뮤니티 지침",
      "Comm_overview": "커뮤니티 개요",
      "Contributing": "MDN에 기역하기",
      "Open_source": "오픈소스 에절",
      "Communication": "Communication channels",
      "Discuss": "논의",
      "Learn": "Learn forum",
      "Issues": "문제",
      "PRs": "Pull requests",
      "Content": "콘텐츠 레포지토리 지침",
      "Users": "사용자와 팀",
    "Writing_guide": "MDN Web Docs 지침",
      "Write_overview": "MDN Web Docs에 대해",
      "What_write": "MDN Web Docs 내용",
      "Style_guide": "MDN Web Docs 작성 안내서",
      "Howto": "How-to 안내서",
      "Structures": "페이지 구조",
      "Attrib": "귀속과 저작권",
      "Exper": "Experimental, deprecated 그리고 obsolete",
  },
  "pt-BR": {
    "MDN_project": "The MDN Web Docs Project",
    "Community_guide": "Community guidelines",
      "Comm_overview": "Overview",
      "Contributing": "Contributing to MDN",
      "Open_source": "Open source etiquette",
      "Communication": "Communication channels",
      "Discuss": "Discussions",
      "Learn": "Learn forum",
      "Issues": "Issue guidelines",
      "PRs": "Pull request guidelines",
      "Content": "Content repository guidelines",
      "Users": "Roles and teams",
    "Writing_guide": "Writing guidelines",
      "Write_overview": "Overview",
      "What_write": "What we write",
      "Style_guide": "Writing style guide",
      "Howto": "How-to guides",
      "Structures": "Page structures",
      "Attrib": "Attribution and copyright",
      "Exper": "Experimental, deprecated and obsolete",
  },
  "ru": {
    "MDN_project": "The MDN Web Docs Project",
    "Community_guide": "Community guidelines",
      "Comm_overview": "Overview",
      "Contributing": "Contributing to MDN",
      "Open_source": "Open source etiquette",
      "Communication": "Communication channels",
      "Discuss": "Discussions",
      "Learn": "Learn forum",
      "Issues": "Issue guidelines",
      "PRs": "Pull request guidelines",
      "Content": "Content repository guidelines",
      "Users": "Roles and teams",
    "Writing_guide": "Writing guidelines",
      "Write_overview": "Overview",
      "What_write": "What we write",
      "Style_guide": "Writing style guide",
      "Howto": "How-to guides",
      "Structures": "Page structures",
      "Attrib": "Attribution and copyright",
      "Exper": "Experimental, deprecated and obsolete",
  },
  "zh-CN": {
    "MDN_project": "MDN Web 文档项目",
    "Community_guide": "社区指南",
      "Comm_overview": "概览",
      "Contributing": "为 MDN 做贡献",
      "Open_source": "开源规约",
      "Communication": "交流频道",
      "Discuss": "讨论",
      "Learn": "学习论坛",
      "Issues": "Issue 指南",
      "PRs": "Pull request 指南",
      "Content": "content 仓库相关指南",
      "Users": "角色和团队",
    "Writing_guide": "写作相关指南",
      "Write_overview": "概览",
      "What_write": "MDN 收录规则",
      "Style_guide": "写作风格指南",
      "Howto": "MDN 写作指南",
      "Structures": "页面结构",
      "Attrib": "署名和版权",
      "Exper": "实验性的、弃用的和过时的",
  },
  "zh-TW": {
    "MDN_project": "The MDN Web Docs Project",
    "Community_guide": "Community guidelines",
      "Comm_overview": "Overview",
      "Contributing": "Contributing to MDN",
      "Open_source": "Open source etiquette",
      "Communication": "Communication channels",
      "Discuss": "Discussions",
      "Learn": "Learn forum",
      "Issues": "Issue guidelines",
      "PRs": "Pull request guidelines",
      "Content": "Content repository guidelines",
      "Users": "Roles and teams",
    "Writing_guide": "Writing guidelines",
      "Write_overview": "Overview",
      "What_write": "What we write",
      "Style_guide": "Writing style guide",
      "Howto": "How-to guides",
      "Structures": "Page structures",
      "Attrib": "Attribution and copyright",
      "Exper": "Experimental, deprecated and obsolete",
  }
});

%>

<section id="Quick_links" data-macro="MDNSidebar">
    <ol>
        <li>
            <a href="<%=baseURL%>"><%=text['MDN_project']%></a>
        </li>

        <li class="toggle">
            <details>
                <summary><%=text['Community_guide']%></summary>
                <ol>
                    <li><a href="<%=baseURL%>Community"><%=text['Comm_overview']%></a></li>
                    <li><a href="<%=baseURL%>Community/Contributing"><%=text['Contributing']%></a></li>
                    <li><a href="<%=baseURL%>Community/Open_source_etiquette"><%=text['Open_source']%></a></li>
                    <li><a href="<%=baseURL%>Community/Communication_channels"><%=text['Communication']%></a></li>
                    <li><a href="<%=baseURL%>Community/Discussions"><%=text['Discuss']%></a></li>
                    <li><a href="<%=baseURL%>Community/Learn_forum"><%=text['Learn']%></a></li>
                    <li><a href="<%=baseURL%>Community/Issues"><%=text['Issues']%></a></li>
                    <li><a href="<%=baseURL%>Community/Pull_requests"><%=text['PRs']%></a></li>
                    <li><a href="<%=baseURL%>Community/Mdn_content"><%=text['Content']%></a></li>
                    <li><a href="<%=baseURL%>Community/Users_teams"><%=text['Users']%></a></li>
                </ol>
            </details>
        </li>

        <li class="toggle">
            <details>
                <summary><%=text['Writing_guide']%></summary>
                <ol>
                    <li><a href="<%=baseURL%>Writing_guidelines"><%=text['Write_overview']%></a></li>
                    <li><a href="<%=baseURL%>Writing_guidelines/What_we_write"><%=text['What_write']%></a></li>
                    <li><a href="<%=baseURL%>Writing_guidelines/Writing_style_guide"><%=text['Style_guide']%></a></li>
                    <li><a href="<%=baseURL%>Writing_guidelines/Howto"><%=text['Howto']%></a></li>
                    <li><a href="<%=baseURL%>Writing_guidelines/Page_structures"><%=text['Structures']%></a></li>
                    <li><a href="<%=baseURL%>Writing_guidelines/Attrib_copyright_license"><%=text['Attrib']%></a></li>
                    <li><a href="<%=baseURL%>Writing_guidelines/Experimental_deprecated_obsolete"><%=text['Exper']%></a></li>
                </ol>
            </details>
        </li>
    </ol>
</section>
