<%
/*
$0 : inline / header / method"
$1 : version of obsolescence (optional)
    prepend version with HTML, CSS, JS, JSAPI, or Gecko for those techs
$3 : additional information required for the type specified by the first parameter
    method requires the method name
*/

// Throw a MacroDeprecatedError flaw
// Condition for removal: no more use in translated-content (May 2022: 1347 occurrences)
// 0 occurrences left in en-US
mdn.deprecated();

var lang = env.locale;

var str = "";
var ver = "";
var link = "";
var tip = "";

if ($1) {
    var t = $1.toLowerCase();
    var n = "";

    if (t.startsWith("jsapi")) {
        n = t.substring(5).trim();
        ver = "JSAPI ";
    } else if (t.startsWith("js")) {
        n = t.substring(2).trim();
        ver = "JavaScript ";
        if (n.length) {
            link = '/' + lang + '/docs/JavaScript/New_in_JavaScript/' + n;
        }
    } else if (t.startsWith("css")) {
        n = t.substring(3).trim();
        ver = "CSS ";
    } else if (t.startsWith("html")) {
        n = t.substring(4).trim();
        ver = "HTML";
        if (n < 5) {
            link = '/' + lang + '/docs/HTML';
        } else {
            link = '/' + lang + '/docs/HTML/HTML' + n;
        }
    } else if (t.startsWith("gecko")) {
        n = t.substring(5).trim();
        ver = "Gecko ";
        tip = await template('geckoRelease', [n]);
    }

    n = n.trim();

    ver = n.length ? ver + n: "";
}

if (link.length) { ver = web.link(link, ver); }

switch(lang) {
    case 'de':
        str = "Veraltet";
        if (ver.length) { str = str + " seit " + ver; }
        break;
    case 'es':
        str = "Obsoleto";
        if (ver.length) { str = str + " " + ver; }
        break;
    case 'fr':
        str = "Obsolète";
        if (ver.length) { str = str + " depuis " + ver; }
        break;
    case 'ja':
        str = "廃止"; if (ver.length) { str = ver + " で" + str; }
        break;
    case 'ko':
        str = "안씀";
        if (ver.length) { str = str + " " + ver; }
        break;
    case 'pl':
        str = "Przestarzały";
        if (ver.length) { str = str + " " + ver; }
        break;
    case 'ru':
        str = "Вышла из употребления";
        if (ver.length) { str = str + " с версии " + ver; }
        break;
    case 'zh-TW':
        str = "已過時";
        if (ver.length) { str = str + " " + ver; }
        break;
    case 'zh-CN':
        str = "已废弃";
        if (ver.length) { str = str + " " + ver; }
        break;
    default:
        str = "Obsolete";
        if (ver.length) { str = str + " since " + ver; }
        break;
}

var str_desc = mdn.localString({
  "en-US": "This feature is obsolete. Although it may still work in some browsers, its use is discouraged since it could be removed at any time. Try to avoid using it.",
  "de":    "Dieses Feature ist veraltet. Obwohl es in manchen Browsern immer noch funktioniert, wird von seiner Benutzung abgeraten, da es jederzeit entfernt werden kann. Es sollte daher nicht mehr verwendet werden.",
  "fr":    "Cette fonctionnalité est obsolète. Bien qu'encore supportée par des navigateurs, son utilisation est découragée pour tout nouveau projet. Évitez de l'utiliser.",
  "es":    "Esta funcionalidad es obsoleta. Aunque puede aún funcionar en algunos navegadores, se desalienta su uso ya que puede ser removida en cualquier momento. Evite usarla.",
  "ja":    "この機能は廃止されました。まだいくつかのブラウザーで動作するかもしれませんが、いつ削除されてもおかしくないので、使わないようにしましょう。",
  "ru":    "Эта возможность вышла из употребления. Хотя она может продолжать работать в некоторых браузерах, её использование не рекомендуется, поскольку она может быть удалена в любое время. Старайтесь избегать её использования."
});

switch($0) {
    case 'inline':
        %><span title="<%=tip%>" class="notecard inline obsolete"><%-str%></span><%
        break;
    case 'header':
        if (tip.length) { str = str + " " + tip; }
        %>
            <div class="notecard obsolete">
                <h4><%-str%></h4>
                <p><%-str_desc%></p>
            </div>
        <%
        break;
    case 'method':
        if (tip.length) { str = str + " " + tip; }
        %>
        <div class="headingWithIndicator">
            <h4><%- $2 %>()</h4>
            <span class="notecard inline obsolete"><%- str %></span>
        </div>
        <%
        break;
}%>
