<%
const locale = env.locale;

const text = mdn.localStringMap({
  'en-US': {
    'Tutorials': 'Tutorials',
    'Reference': 'Reference',
    'Elements': 'Elements',
    'Attributes': 'Attributes',
    'Guides': 'Guides',
    'Introducing SVG from scratch': 'Introducing SVG from scratch'
  },
  'fr': {
    'Tutorials': 'Tutoriels',
    'Reference': 'Références',
    'Elements': 'Éléments',
    'Attributes': 'Attributs',
    'Guides': 'Guides',
  },
  'ja': {
    'Tutorials': 'チュートリアル',
    'Reference': 'リファレンス',
    'Elements': '要素',
  },
  'ko': {
    'Tutorials': '자습서:',
    'Reference': '참고서:',
    'Elements': '요소',
    'Attributes': '속성',
    'Guides': '안내서:',
  },
  'pt-BR': {
    'Tutorials': 'Tutoriais',
    'Reference': 'Referências',
    'Elements': 'Elementos',
    'Attributes': 'Atributos',
    'Guides': 'Guides',
  },
  'ru': {
    'Tutorials': 'Уроки',
    'Reference': 'Справочники',
    'Elements': 'Элементы',
    'Attributes': 'Aтрибуты',
    'Guides': 'Путеводитель',
  },
  'zh-CN': {
    'Tutorials': '教程',
    'Reference': '参考：',
    'Elements': '元素',
    'Attributes': '属性',
    'Guides': '指南：',
  },
});

const sidebarURL = `/docs/Web/SVG/`;
const baseURL = `/${env.locale}${sidebarURL}`;

async function getTitle(pageSlug) {
  let page = await wiki.getPage(`${baseURL}${pageSlug}`);
  if (!page.title) {
    page = await wiki.getPage(`/en-US${sidebarURL}${pageSlug}`);
  }
  return mdn.htmlEscape(page.title);
}

%>
<section id="Quick_links" data-macro="SVGRef">
 <ol>
  <li class="section"><a href="/<%=locale%>/docs/Web/SVG">SVG</a></li>
  <li class="section no-link"><%=text['Tutorials']%></li>
  <li class="toggle">
    <details>
      <summary><%=text['Introducing SVG from scratch']%></summary>
      <ol>
          <li><a href="/<%=locale%>/docs/Web/SVG/Tutorial/Introduction"><%=await getTitle("Tutorial/Introduction")%></a></li>
          <li><a href="/<%=locale%>/docs/Web/SVG/Tutorial/Getting_Started"><%=await getTitle("Tutorial/Getting_Started")%></a></li>
          <li><a href="/<%=locale%>/docs/Web/SVG/Tutorial/Positions"><%=await getTitle("Tutorial/Positions")%></a></li>
          <li><a href="/<%=locale%>/docs/Web/SVG/Tutorial/Basic_Shapes"><%=await getTitle("Tutorial/Basic_Shapes")%></a></li>
          <li><a href="/<%=locale%>/docs/Web/SVG/Tutorial/Paths"><%=await getTitle("Tutorial/Paths")%></a></li>
          <li><a href="/<%=locale%>/docs/Web/SVG/Tutorial/Fills_and_Strokes"><%=await getTitle("Tutorial/Fills_and_Strokes")%></a></li>
          <li><a href="/<%=locale%>/docs/Web/SVG/Tutorial/Gradients"><%=await getTitle("Tutorial/Gradients")%></a></li>
          <li><a href="/<%=locale%>/docs/Web/SVG/Tutorial/Patterns"><%=await getTitle("Tutorial/Patterns")%></a></li>
          <li><a href="/<%=locale%>/docs/Web/SVG/Tutorial/Texts"><%=await getTitle("Tutorial/Texts")%></a></li>
          <li><a href="/<%=locale%>/docs/Web/SVG/Tutorial/Basic_Transformations"><%=await getTitle("Tutorial/Basic_Transformations")%></a></li>
          <li><a href="/<%=locale%>/docs/Web/SVG/Tutorial/Clipping_and_masking"><%=await getTitle("Tutorial/Clipping_and_masking")%></a></li>
          <li><a href="/<%=locale%>/docs/Web/SVG/Tutorial/Other_content_in_SVG"><%=await getTitle("Tutorial/Other_content_in_SVG")%></a></li>
          <li><a href="/<%=locale%>/docs/Web/SVG/Tutorial/Filter_effects"><%=await getTitle("Tutorial/Filter_effects")%></a></li>
          <li><a href="/<%=locale%>/docs/Web/SVG/Tutorial/SVG_fonts"><%=await getTitle("Tutorial/SVG_fonts")%></a></li>
          <li><a href="/<%=locale%>/docs/Web/SVG/Tutorial/SVG_Image_Tag"><%=await getTitle("Tutorial/SVG_Image_Tag")%></a></li>
          <li><a href="/<%=locale%>/docs/Web/SVG/Tutorial/Tools_for_SVG"><%=await getTitle("Tutorial/Tools_for_SVG")%></a></li>
          <li><a href="/<%=locale%>/docs/Web/SVG/Tutorial/SVG_and_CSS"><%=await getTitle("Tutorial/SVG_and_CSS")%></a></li>
      </ol>
    </details>
  </li>
  <li class="section no-link"><%=text['Reference']%></li>
  <li class="toggle">
    <details>
      <summary><%=text['Elements']%></summary>
      <%-await template("ListSubpagesForSidebar", ['/en-US/docs/Web/SVG/Element'])%>
    </details>
  </li>
  <li class="toggle">
    <details>
      <summary><%=text['Attributes']%></summary>
      <%-await template("ListSubpagesForSidebar", ['/en-US/docs/Web/SVG/Attribute'])%>
    </details>
  </li>
  <li class="section no-link"><%=text['Guides']%></li>
  <li>
    <ol>
    <li><a href="/<%=locale%>/docs/Web/SVG/Applying_SVG_effects_to_HTML_content"><%=await getTitle("Applying_SVG_effects_to_HTML_content")%></a></li>
    <li><a href="/<%=locale%>/docs/Web/SVG/Content_type"><%=await getTitle("Content_type")%></a></li>
    <li><a href="/<%=locale%>/docs/Web/SVG/Namespaces_Crash_Course"><%=await getTitle("Namespaces_Crash_Course")%></a></li>
    <li><a href="/<%=locale%>/docs/Web/SVG/SVG_animation_with_SMIL"><%=await getTitle("SVG_animation_with_SMIL")%></a></li>
    <li><a href="/<%=locale%>/docs/Web/SVG/SVG_as_an_Image"><%=await getTitle("SVG_as_an_Image")%></a></li>
    </ol>
  </li>
 </ol>
</section>

