<%

const locale = env.locale;

const baseURL = `/${locale}/docs/Tools/`;
const addonsBaseURL = `/${locale}/docs/Mozilla/Add-ons/`;

const text = mdn.localStringMap({
  "en-US": {
    "Page_Inspector": "Page Inspector",
    "Web_Console": "Web Console",
    "JavaScript_Debugger": "JavaScript Debugger",
    "Network_Monitor": "Network Monitor",
    "Performance": "Performance",
    "Application": "Application",
    "Responsive_Design_Mode": "Responsive Design Mode",
    "Accessibility_Inspector": "Accessibility Inspector",
    "More_Tools": "More Tools",
      "Memory": "Memory",
      "Storage_Inspector": "Storage Inspector",
      "DOM_Property_Viewer": "DOM Property Viewer",
      "Eyedropper": "Eyedropper",
      "Screenshot": "Screenshot",
      "Style_Editor": "Style Editor",
      "Rulers": "Rulers",
      "Measure_a_portion_of_the_page": "Measure a portion of the page",
      "View_Source": "View Source",
    "Connecting_the_devtools": "Connecting the devtools",
      "about:debugging": "about:debugging",
      "Connecting_to_Firefox_for_Android": "Connecting to Firefox for Android",
      "Connecting_to_iframes": "Connecting to iframes",
      "Connecting_to_other_browsers": "Connecting to other browsers",
    "Debugging_the_browser": "Debugging the browser",
      "Browser_Console": "Browser Console",
      "Browser_Toolbox": "Browser Toolbox",
    "Extending_the_devtools": "Extending the devtools",
    "Settings": "Settings",
    "Tips": "Tips",
    "Release_notes": "Release notes"
  },
  "bn-BD": {
    "Page_Inspector": "পেজ ইন্সপেক্টর",
    "Web_Console": "ওয়েব কনসোল",
    "JavaScript_Debugger": "ডিবাগার",
    "Network_Monitor": "নেটওয়ার্ক মনিটর",
    "Performance": "Performance",
    "Application": "Application",
    "Responsive_Design_Mode": "রেসপন্সিভ ডিজাইন ভিউ",
    "Accessibility_Inspector": "Accessibility Inspector",
    "More_Tools": "More Tools",
      "Memory": "Memory",
      "Storage_Inspector": "স্টোরেজ ইন্সপেক্টর",
      "DOM_Property_Viewer": "DOM Property Viewer",
      "Eyedropper": "আইড্রপার",
      "Screenshot": "Screenshot",
      "Style_Editor": "স্টাইল এডিটর",
      "Shader_Editor": "শেডার এডিটর",
      "Web_Audio_Editor": "ওয়েব অডিও এডিটর",
      "Rulers": "Rulers",
      "Measure_a_portion_of_the_page": "Measure a portion of the page",
      "View_Source": "View Source",
    "Connecting_the_devtools": "Connecting the devtools",
      "about:debugging": "about:debugging",
      "Connecting_to_Firefox_for_Android": "Connecting to Firefox for Android",
      "Connecting_to_iframes": "iframe নির্বাচন করা",
      "Connecting_to_other_browsers": "Connecting to other browsers",
    "Debugging_the_browser": "Debugging the browser",
      "Browser_Console": "Browser Console",
      "Browser_Toolbox": "Browser Toolbox",
    "Extending_the_devtools": "Extending the devtools",
    "Settings": "Settings",
    "Tips": "Tips",
    "Release_notes": "Release notes"
  },
  "ca": {
    "Page_Inspector": "Inspector de Pàgina",
    "Web_Console": "Consola Web",
    "JavaScript_Debugger": "Depurador",
    "Network_Monitor": "Monitor de Xarxa",
    "Performance": "Rendiment",
    "Application": "Application",
    "Responsive_Design_Mode": "Visualització Sensible al Disseny",
    "Accessibility_Inspector": "Accessibility Inspector",
    "More_Tools": "More Tools",
      "Memory": "Memory",
      "Storage_Inspector": "Inspector d'Emmagatzematge",
      "DOM_Property_Viewer": "DOM Property Viewer",
      "Eyedropper": "Comptagotes",
      "Screenshot": "Screenshot",
      "Style_Editor": "Editor d'Estils",
      "Rulers": "Rulers",
      "Measure_a_portion_of_the_page": "Measure a portion of the page",
      "View_Source": "Veure Codi Font",
    "Connecting_the_devtools": "Connecting the devtools",
      "about:debugging": "about:debugging",
      "Connecting_to_Firefox_for_Android": "Connecting to Firefox for Android",
      "Connecting_to_iframes": "Seleccionar iframes",
      "Connecting_to_other_browsers": "Connecting to other browsers",
    "Debugging_the_browser": "Depuració del Navegador",
      "Browser_Console": "Consola del Navegador",
      "Browser_Toolbox": "Caixa d'Eines del Navegador",
    "Extending_the_devtools": "Ampliació dels devtools",
    "Settings": "Configuracions",
    "Tips": "Tips",
    "Release_notes": "Notes de la versió"
  },
  "de": {
    "Page_Inspector": "Inspektor",
    "Web_Console": "Web-Konsole",
    "JavaScript_Debugger": "Debugger",
    "Network_Monitor": "Netzwerkanalyse",
    "Performance": "Performance",
    "Application": "Application",
    "Responsive_Design_Mode": "Reaktives Design",
    "Accessibility_Inspector": "Accessibility Inspector",
    "More_Tools": "More Tools",
      "Memory": "Memory",
      "Storage_Inspector": "Storage Inspector",
      "DOM_Property_Viewer": "DOM Property Viewer",
      "Eyedropper": "Eyedropper",
      "Screenshot": "Screenshot",
      "Style_Editor": "Style Editor",
      "Rulers": "Rulers",
      "Measure_a_portion_of_the_page": "Measure a portion of the page",
      "View_Source": "View Source",
    "Connecting_the_devtools": "Connecting the devtools",
      "about:debugging": "about:debugging",
      "Connecting_to_Firefox_for_Android": "Connecting to Firefox for Android",
      "Connecting_to_iframes": "Connecting to iframes",
      "Connecting_to_other_browsers": "Connecting to other browsers",
    "Debugging_the_browser": "Den Browser debuggen",
      "Browser_Console": "Browser-Konsole",
      "Browser_Toolbox": "Browser-Toolbox",
    "Extending_the_devtools": "Die Entwickler-Werkzeuge erweitern",
    "Settings": "Einstellungen",
    "Tips": "Tips",
    "Release_notes": "Versionshinweise"
  },
  "fr": {
    "Page_Inspector": "Inspecteur",
    "Web_Console": "Console web",
    "JavaScript_Debugger": "Débogueur JavaScript",
    "Network_Monitor": "Moniteur réseau",
    "Performance": "Performances",
    "Application": "Application",
    "Responsive_Design_Mode": "Vue adaptative",
    "Accessibility_Inspector": "Panneau accessibilité",
    "More_Tools": "Plus d'outils",
      "Memory": "Mémoire",
      "Storage_Inspector": "Inspecteur de stockage",
      "DOM_Property_Viewer": "Inspecteur DOM",
      "Eyedropper": "Pipette",
      "Screenshot": "Capture d'écran",
      "Style_Editor": "Éditeur de style",
      "Rulers": "Règles",
      "Measure_a_portion_of_the_page": "Mesurer une portion de la page",
      "View_Source": "Afficher le code source",
    "Connecting_the_devtools": "Connexion aux outils de développement",
      "about:debugging": "about:debugging",
      "Connecting_to_Firefox_for_Android": "Connexion à Firefox pour Android",
      "Connecting_to_iframes": "Connexion aux iframes",
      "Connecting_to_other_browsers": "Connexion à d'autres navigateurs",
    "Debugging_the_browser": "Débogage du navigateur",
      "Browser_Console": "Console du navigateur",
      "Browser_Toolbox": "Boite à outils du navigateur",
    "Extending_the_devtools": "Extensions pour les outils de développement",
    "Settings": "Paramètres",
    "Tips": "Tips",
    "Release_notes": "Notes de version"
  },
  "id": {
    "Page_Inspector": "Pemeriksa Laman",
    "Web_Console": "Konsol Web",
    "JavaScript_Debugger": "Pen-debug JavaScript",
    "Network_Monitor": "Monitor Jaringan",
    "Performance": "Performa",
    "Application": "Application",
    "Responsive_Design_Mode": "Mode Desain Responsif",
    "Accessibility_Inspector": "Accessibility Inspector",
    "More_Tools": "Alat Lainnya",
      "Memory": "Memori",
      "Storage_Inspector": "Pemeriksa Penyimpanan",
      "DOM_Property_Viewer": "DOM Property Viewer",
      "Eyedropper": "Eyedropper",
      "Screenshot": "Tangkapan Layar",
      "Style_Editor": "Editor Gaya",
      "Rulers": "Rulers",
      "Measure_a_portion_of_the_page": "Mengukur sebagian laman",
      "View_Source": "View Source",
    "Connecting_the_devtools": "Menghubungkan Alat Pengembang",
      "about:debugging": "about:debugging",
      "Connecting_to_Firefox_for_Android": "Menghubungkan ke Firefox untuk Android",
      "Connecting_to_iframes": "Menghubungkan ke iframes",
      "Connecting_to_other_browsers": "Menghubungkan ke peramban lain",
    "Debugging_the_browser": "Pen-debug peramban",
      "Browser_Console": "Konsol Peramban",
      "Browser_Toolbox": "Kotak Perkakas Peramban",
    "Extending_the_devtools": "Meluaskan alat pengembang",
    "Settings": "Pengaturan",
    "Tips": "Tips",
    "Release_notes": "Catatan Rilis"
  },
  "ja": {
    "Page_Inspector": "ページインスペクター",
    "Web_Console": "ウェブコンソール",
    "JavaScript_Debugger": "JavaScript デバッガー",
    "Network_Monitor": "ネットワークモニター",
    "Performance": "パフォーマンス",
    "Application": "Application",
    "Responsive_Design_Mode": "レスポンシブデザインモード",
    "Accessibility_Inspector": "Accessibility Inspector",
    "More_Tools": "その他のツール",
      "Memory": "メモリー",
      "Storage_Inspector": "ストレージインスペクター",
      "DOM_Property_Viewer": "DOM プロパティビューアー",
      "Eyedropper": "スポイト",
      "Screenshot": "スクリーンショット",
      "Style_Editor": "スタイルエディター",
      "Rulers": "Rulers",
      "Measure_a_portion_of_the_page": "Measure a portion of the page",
      "View_Source": "View Source",
    "Connecting_the_devtools": "開発ツールに接続する",
      "about:debugging": "about:debugging",
      "Connecting_to_Firefox_for_Android": "Android 版 Firefox に接続する",
      "Connecting_to_iframes": "iframe に接続する",
      "Connecting_to_other_browsers": "ほかのブラウザーに接続する",
    "Debugging_the_browser": "ブラウザーのデバッグ",
      "Browser_Console": "ブラウザーコンソール",
      "Browser_Toolbox": "ブラウザーツールボックス",
    "Extending_the_devtools": "開発ツールの拡張",
    "Settings": "オプション",
    "Tips": "Tips",
    "Release_notes": "リリースノート"
  },
  "ko": {
    "Page_Inspector": "페이지 검사기",
    "Web_Console": "웹 콘솔",
    "JavaScript_Debugger": "디버거",
    "Network_Monitor": "네트워크 모니터",
    "Performance": "성능",
    "Application": "Application",
    "Responsive_Design_Mode": "반응형 디자인 화면",
    "Accessibility_Inspector": "Accessibility Inspector",
    "More_Tools": "More Tools",
      "Memory": "Memory",
      "Storage_Inspector": "저장소 검사기",
      "DOM_Property_Viewer": "DOM Property Viewer",
      "Eyedropper": "점안기(Eyedropper)",
      "Screenshot": "Screenshot",
      "Style_Editor": "스타일 편집기",
      "Rulers": "Rulers",
      "Measure_a_portion_of_the_page": "Measure a portion of the page",
      "View_Source": "화면 소스",
    "Connecting_the_devtools": "Connecting the devtools",
      "about:debugging": "about:debugging",
      "Connecting_to_Firefox_for_Android": "Android 용 Firefox",
      "Connecting_to_iframes": "iframe 선택하기",
      "Connecting_to_other_browsers": "Connecting to other browsers",
    "Debugging_the_browser": "브라우저 디버깅",
      "Browser_Console": "브라우저 콘솔",
      "Browser_Toolbox": "브라우저 툴박스",
    "Extending_the_devtools": "개발도구 확장하기",
    "Settings": "설정",
    "Tips": "Tips",
    "Release_notes": "배포 기록"
  },
  "pt-BR": {
    "Page_Inspector": "Page Inspector",
    "Web_Console": "Web Console",
    "JavaScript_Debugger": "JavaScript Debugger",
    "Network_Monitor": "Network Monitor",
    "Performance": "Performance",
    "Application": "Application",
    "Responsive_Design_Mode": "Responsive Design Mode",
    "Accessibility_Inspector": "Accessibility Inspector",
    "More_Tools": "More Tools",
      "Memory": "Memory",
      "Storage_Inspector": "Storage Inspector",
      "DOM_Property_Viewer": "DOM Property Viewer",
      "Eyedropper": "Eyedropper",
      "Screenshot": "Screenshot",
      "Style_Editor": "Style Editor",
      "Rulers": "Rulers",
      "Measure_a_portion_of_the_page": "Measure a portion of the page",
      "View_Source": "View Source",
    "Connecting_the_devtools": "Connecting the devtools",
      "about:debugging": "about:debugging",
      "Connecting_to_Firefox_for_Android": "Connecting to Firefox for Android",
      "Connecting_to_iframes": "Connecting to iframes",
      "Connecting_to_other_browsers": "Connecting to other browsers",
    "Debugging_the_browser": "Depurando o navegador",
      "Browser_Console": "Browser Console",
      "Browser_Toolbox": "Browser Toolbox",
    "Extending_the_devtools": "Estendendo o devtools",
    "Settings": "Configurações",
    "Tips": "Tips",
    "Release_notes": "Notas de versão"
  },
  "pt-PT": {
    "Page_Inspector": "Inspetor de Página",
    "Web_Console": "Consola da Web",
    "JavaScript_Debugger": "JavaScript Debugger",
    "Network_Monitor": "Network Monitor",
    "Performance": "Performance",
    "Application": "Application",
    "Responsive_Design_Mode": "Responsive Design Mode",
    "Accessibility_Inspector": "Accessibility Inspector",
    "More_Tools": "More Tools",
      "Memory": "Memory",
      "Storage_Inspector": "Storage Inspector",
      "DOM_Property_Viewer": "DOM Property Viewer",
      "Eyedropper": "Eyedropper",
      "Screenshot": "Screenshot",
      "Style_Editor": "Editor de Estilo",
      "Rulers": "Rulers",
      "Measure_a_portion_of_the_page": "Measure a portion of the page",
      "View_Source": "View Source",
    "Deprecated_tools": "Deprecated tools",
    "Connecting_the_devtools": "Connecting the devtools",
      "about:debugging": "about:debugging",
      "Connecting_to_Firefox_for_Android": "Connecting to Firefox for Android",
      "Connecting_to_iframes": "Connecting to iframes",
      "Connecting_to_other_browsers": "Connecting to other browsers",
    "Debugging_the_browser": "Depurar o navegador",
      "Browser_Console": "Browser Console",
      "Browser_Toolbox": "Browser Toolbox",
    "Extending_the_devtools": "Ampliar as ferramentas de desenvolvimento",
    "Settings": "Configurações",
    "Tips": "Tips",
    "Release_notes": "Notas de lançamento"
  },
  "ro": {
    "Page_Inspector": "Inspector de pagină",
    "Web_Console": "Consolă web",
    "JavaScript_Debugger": "Depanator JavaScript",
    "Network_Monitor": "Monitorizare rețea",
    "Performance": "Performanță",
    "Application": "Application",
    "Responsive_Design_Mode": "Vedere design receptiv",
    "Accessibility_Inspector": "Accessibility Inspector",
    "More_Tools": "More Tools",
      "Memory": "Memory",
      "Storage_Inspector": "Inspector de stocare",
      "DOM_Property_Viewer": "DOM Property Viewer",
      "Eyedropper": "Pipetă",
      "Screenshot": "Screenshot",
      "Style_Editor": "Editor de stil",
      "Rulers": "Rulers",
      "Measure_a_portion_of_the_page": "Measure a portion of the page",
      "View_Source": "View Source",
    "Connecting_the_devtools": "Connecting the devtools",
      "about:debugging": "about:debugging",
      "Connecting_to_Firefox_for_Android": "Depanare în Firefox pentru Android",
      "Connecting_to_iframes": "Lucrul cu iframe",
      "Connecting_to_other_browsers": "Connecting to other browsers",
    "Debugging_the_browser": "Depanare navigator",
      "Browser_Console": "Consolă navigator",
      "Browser_Toolbox": "Set de instrumente pentru navigator",
    "Extending_the_devtools": "Extinderea uneltelor pentru dezvoltatori",
    "Settings": "Setări",
    "Tips": "Tips",
    "Release_notes": "Note de lansare"
  },
  "ru": {
    "Page_Inspector": "Инспектор страницы",
    "Web_Console": "Web консоль",
    "JavaScript_Debugger": "Отладчик JavaScript",
    "Network_Monitor": "Монитор сетевой активности",
    "Performance": "Performance",
    "Application": "Application",
    "Responsive_Design_Mode": "Режим адаптивного дизайна",
    "Accessibility_Inspector": "Accessibility Inspector",
    "More_Tools": "Больше инструментов",
      "Memory": "Memory",
      "Storage_Inspector": "Storage Inspector",
      "DOM_Property_Viewer": "DOM Property Viewer",
      "Eyedropper": "Eyedropper",
      "Screenshot": "Screenshot",
      "Style_Editor": "Редактор стилей",
      "Rulers": "Rulers",
      "Measure_a_portion_of_the_page": "Measure a portion of the page",
      "View_Source": "View Source",
    "Connecting_the_devtools": "Connecting the devtools",
      "about:debugging": "about:debugging",
      "Connecting_to_Firefox_for_Android": "Connecting to Firefox for Android",
      "Connecting_to_iframes": "Connecting to iframes",
      "Connecting_to_other_browsers": "Connecting to other browsers",
    "Debugging_the_browser": "Debugging the browser",
      "Browser_Console": "Browser Console",
      "Browser_Toolbox": "Browser Toolbox",
    "Extending_the_devtools": "Extending the devtools",
    "Settings": "Settings",
    "Tips": "Tips",
    "Release_notes": "Release notes"
  },
  "sv-SE": {
    "Page_Inspector": "Sidinspektör",
    "Web_Console": "Webbkonsol",
    "JavaScript_Debugger": "Avlusare",
    "Network_Monitor": "Nätverksövervakare",
    "Performance": "Performance",
    "Application": "Application",
    "Responsive_Design_Mode": "Responsive Design Mode",
    "Accessibility_Inspector": "Accessibility Inspector",
    "More_Tools": "More Tools",
      "Memory": "Memory",
      "Storage_Inspector": "Lagringsinspektör",
      "DOM_Property_Viewer": "DOM Property Viewer",
      "Eyedropper": "Eyedropper",
      "Screenshot": "Screenshot",
      "Style_Editor": "Stilredigerare",
      "Rulers": "Rulers",
      "Measure_a_portion_of_the_page": "Measure a portion of the page",
      "View_Source": "Visa källa",
    "Connecting_the_devtools": "Connecting the devtools",
      "about:debugging": "about:debugging",
      "Connecting_to_Firefox_for_Android": "Connecting to Firefox for Android",
      "Connecting_to_iframes": "Connecting to iframes",
      "Connecting_to_other_browsers": "Connecting to other browsers",
    "Debugging_the_browser": "Debugging the browser",
      "Browser_Console": "Browser Console",
      "Browser_Toolbox": "Browser Toolbox",
    "Extending_the_devtools": "Extending the devtools",
    "Settings": "Inställningar",
    "Tips": "Tips",
    "Release_notes": "Anteckningar för utgåvan"
  },
  "zh-CN": {
    "Page_Inspector": "页面检查器",
    "Web_Console": "Web 控制台",
    "JavaScript_Debugger": "JavaScript 调试器",
    "Network_Monitor": "网络监视器",
    "Performance": "性能",
    "Application": "Application",
    "Responsive_Design_Mode": "响应式设计模式",
    "Accessibility_Inspector": "无障碍环境",
    "More_Tools": "更多工具",
      "Memory": "内存",
      "Storage_Inspector": "存储检查器",
      "DOM_Property_Viewer": "DOM属性查看器",
      "Eyedropper": "页面取色器",
      "Screenshot": "截图",
      "Style_Editor": "样式编辑器",
      "Rulers": "Rulers",
      "Measure_a_portion_of_the_page": "Measure a portion of the page",
      "View_Source": "View Source",
    "Connecting_the_devtools": "连接到devtools",
      "about:debugging": "关于：调试",
      "Connecting_to_Firefox_for_Android": "连接到 Android 的 Firefox ",
      "Connecting_to_iframes": "连接到iframes",
      "Connecting_to_other_browsers": "连接到其他浏览器",
    "Debugging_the_browser": "调试浏览器",
      "Browser_Console": "浏览器控制台",
      "Browser_Toolbox": "浏览器工具箱",
    "Extending_the_devtools": "扩展开发者工具",
    "Settings": "设置",
    "Tips": "Tips",
    "Release_notes": "说明"
  }
});

%>

<section class="Quick_links" id="Quick_Links">
    <ol>
        <li><a href="<%=baseURL%>Page_Inspector"><%=text['Page_Inspector']%></a></li>
        <li><a href="<%=baseURL%>Web_Console"><%=text['Web_Console']%></a></li>
        <li><a href="<%=baseURL%>Debugger"><%=text['JavaScript_Debugger']%></a></li>
        <li><a href="<%=baseURL%>Network_Monitor"><%=text['Network_Monitor']%></a></li>
        <li><a href="<%=baseURL%>Performance"><%=text['Performance']%></a></li>
        <li><a href="<%=baseURL%>Application"><%=text['Application']%></a></li>
        <li><a href="<%=baseURL%>Responsive_Design_Mode"><%=text['Responsive_Design_Mode']%></a></li>
        <li><a href="<%=baseURL%>Accessibility_inspector"><%=text['Accessibility_Inspector']%></a></li>
        <li class="toggle">
            <details>
                <summary><%=text['More_Tools']%></summary>
                <ol>
                    <li><a href="<%=baseURL%>Memory"><%=text['Memory']%></a></li>
                    <li><a href="<%=baseURL%>Storage_Inspector"><%=text['Storage_Inspector']%></a></li>
                    <li><a href="<%=baseURL%>DOM_Property_Viewer"><%=text['DOM_Property_Viewer']%></a></li>
                    <li><a href="<%=baseURL%>Eyedropper"><%=text['Eyedropper']%></a></li>
                    <li><a href="<%=baseURL%>Taking_screenshots"><%=text['Screenshot']%></a></li>
                    <li><a href="<%=baseURL%>Style_Editor"><%=text['Style_Editor']%></a></li>
                    <li><a href="<%=baseURL%>Rulers"><%=text['Rulers']%></a></li>
                    <li><a href="<%=baseURL%>Measure_a_portion_of_the_page"><%=text['Measure_a_portion_of_the_page']%></a></li>
                    <li><a href="<%=baseURL%>View_source"><%=text['View_Source']%></a></li>
                </ol>
            </details>
        </li>
        <li class="toggle">
            <details>
                <summary><%=text['Connecting_the_devtools']%></summary>
                <ol>
                    <li><a href="<%=baseURL%>about:debugging"><%=text['about:debugging']%></a></li>
                    <li><a href="<%=baseURL%>Remote_Debugging/Debugging_Firefox_for_Android_over_Wifi"><%=text['Connecting_to_Firefox_for_Android']%></a></li>
                    <li><a href="<%=baseURL%>Working_with_iframes"><%=text['Connecting_to_iframes']%></a></li>
                    <li><a href="<%=baseURL%>Valence"><%=text['Connecting_to_other_browsers']%></a></li>
                </ol>
            </details>
        </li>
        <li class="toggle">
            <details>
                <summary><%=text['Debugging_the_browser']%></summary>
                <ol>
                    <li><a href="<%=baseURL%>Browser_Console"><%=text['Browser_Console']%></a></li>
                    <li><a href="<%=baseURL%>Browser_Toolbox"><%=text['Browser_Toolbox']%></a></li>
                </ol>
            </details>
        </li>
        <li><a href="<%=addonsBaseURL%>WebExtensions/Extending_the_developer_tools"><%=text['Extending_the_devtools']%></a></li>
        <li><a href="<%=baseURL%>Settings"><%=text['Settings']%></a></li>
        <li><a href="<%=baseURL%>Tips"><%=text['Tips']%></a></li>
        <li><a href="<%=baseURL%>Release_notes"><%=text['Release_notes']%></a></li>
    </ol>
</section>
