<%
var locale = env.locale;
var baseURL = "/" + locale + "/docs/WebAssembly";

var text = mdn.localStringMap({
  'en-US': {
    'WebAssembly_home_page' : 'WebAssembly home page',
    'Tutorials' : 'Tutorials',
      'WebAssembly_concepts' : 'WebAssembly concepts',
      'Compiling_to_wasm' : 'Compiling from C/C++ to WebAssembly',
      'Compiling_rust_to_wasm' : 'Compiling from Rust to WebAssembly',
      'JavaScript_API' : 'Using the WebAssembly JavaScript API',
      'Text_format' : 'Understanding WebAssembly text format',
      'Text_format_to_wasm' : 'Converting WebAssembly text format to wasm',
      'Loading_and_running' : 'Loading and running WebAssembly code',
      'Exported_functions' : 'Exported WebAssembly functions',
    'JavaScript_interface' : 'JavaScript interface'
  },
  'fr': {
    'WebAssembly_home_page' : "Page d'accueil WebAssembly",
    'Tutorials' : "Tutoriels",
      'WebAssembly_concepts' : "Concepts WebAssembly",
      'Compiling_to_wasm' : "Compiler du C/C++ en WebAssembly",
      'Compiling_rust_to_wasm' : "Compiler du Rust en WebAssembly",
      'JavaScript_API' : "Utiliser l'API JavaScript WebAssembly",
      'Text_format' : "Comprendre le format texte WebAssembly",
      'Text_format_to_wasm' : "Convertir du format texte WebAssembly en wasm",
      'Loading_and_running' : "Chargement et exécution de code WebAssembly",
      'Exported_functions' : "Fonctions WebAssembly exportées",
    'JavaScript_interface' : "JavaScript interface"
  },
  'ko': {
    'WebAssembly_home_page' : '웹어셈블리 홈페이지',
    'Tutorials' : '자습서',
      'WebAssembly_concepts' : '웹어셈블리의 개념',
      'Compiling_to_wasm' : 'C/C++ 모듈을 웹어셈블리로 컴파일하기',
      'Compiling_rust_to_wasm' : 'Rust를 웹어셈블리로 컴파일하기',
      'JavaScript_API' : '웹어셈블리 JavaScript API 사용하기',
      'Text_format' : '웹어셈블리 텍스트 형식 이해하기',
      'Text_format_to_wasm' : '웹어셈블리 기반 텍스트를 wasm 형식으로 변환하기',
      'Loading_and_running' : '웹어셈블리 코드 로딩하고 실행하기',
      'Exported_functions' : '내보낸 웹어셈블리(Exported WebAssembly) 함수',
    'JavaScript_interface' : 'JavaScript 인터페이스'
  },
  'ru': {
    'WebAssembly_home_page' : 'WebAssembly',
    'Tutorials' : 'Уроки',
      'WebAssembly_concepts' : 'Основы WebAssembly',
      'Compiling_to_wasm' : 'Компиляция кода C/C++ в WebAssembly',
      'Compiling_rust_to_wasm' : 'Компиляция Rust в WebAssembly',
      'JavaScript_API' : 'Использование WebAssembly JavaScript API',
      'Text_format' : 'Описание текстового формата WebAssembly',
      'Text_format_to_wasm' : 'Перевод из текстового формата WebAssembly в wasm',
      'Loading_and_running' : 'Загрузка и запуск кода WebAssembly',
      'Exported_functions' : 'Экспортируемые функции WebAssembly',
    'JavaScript_interface' : 'JavaScript interface'
  }
});
%>

<section id="Quick_links" data-macro="WebAssemblySidebar">

<ol>
  <li class="section" data-default-state="open"><a href="<%=baseURL%>"><%=text['WebAssembly_home_page']%></a>
  <li class="toggle">
    <details open>
      <summary><%=text['Tutorials']%></summary>
      <ol>
        <li><a href="<%=baseURL%>/Concepts"><%=text['WebAssembly_concepts']%></a></li>
        <li><a href="<%=baseURL%>/C_to_wasm"><%=text['Compiling_to_wasm']%></a></li>
        <li><a href="<%=baseURL%>/Rust_to_wasm"><%=text['Compiling_rust_to_wasm']%></a></li>
        <li><a href="<%=baseURL%>/Using_the_JavaScript_API"><%=text['JavaScript_API']%></a></li>
        <li><a href="<%=baseURL%>/Understanding_the_text_format"><%=text['Text_format']%></a></li>
        <li><a href="<%=baseURL%>/Text_format_to_wasm"><%=text['Text_format_to_wasm']%></a></li>
        <li><a href="<%=baseURL%>/Loading_and_running"><%=text['Loading_and_running']%></a></li>
        <li><a href="<%=baseURL%>/Exported_functions"><%=text['Exported_functions']%></a></li>
      </ol>
    </details>
  </li>
  <li class="toggle">
    <details open>
      <summary><%=text['JavaScript_interface']%></summary>
      <ol>
        <li><a href="<%=baseURL%>/JavaScript_interface"><code>WebAssembly</code></a></li>
        <li><a href="<%=baseURL%>/JavaScript_interface/Module"><code>WebAssembly.Module</code></a></li>
        <li><a href="<%=baseURL%>/JavaScript_interface/Global"><code>WebAssembly.Global</code></a></li>
        <li><a href="<%=baseURL%>/JavaScript_interface/Instance"><code>WebAssembly.Instance</code></a></li>
        <li><a href="<%=baseURL%>/JavaScript_interface/Memory"><code>WebAssembly.Memory</code></a></li>
        <li><a href="<%=baseURL%>/JavaScript_interface/Table"><code>WebAssembly.Table</code></a></li>
        <li><a href="<%=baseURL%>/JavaScript_interface/Tag"><code>WebAssembly.Tag</code></a></li>
        <li><a href="<%=baseURL%>/JavaScript_interface/Exception"><code>WebAssembly.Exception</code></a></li>
        <li><a href="<%=baseURL%>/JavaScript_interface/CompileError"><code>WebAssembly.CompileError</code></a></li>
        <li><a href="<%=baseURL%>/JavaScript_interface/LinkError"><code>WebAssembly.LinkError</code></a></li>
        <li><a href="<%=baseURL%>/JavaScript_interface/RuntimeError"><code>WebAssembly.RuntimeError</code></a></li>
      </ol>
    </details>
  </li>
</ol>

</section>
